In [10]:
import sys
print(sys.executable)

c:\My Projects\Python_30\my_venv\Scripts\python.exe

In [14]:
# Data handling
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Statistical testing
from statsmodels.stats.proportion import proportions_ztest
from scipy import stats

# Optional but useful for quick EDA plots
# pip install plotly if missing
import plotly.express as px

# Ignore warnings (optional)
import warnings
warnings.filterwarnings("ignore")

print("All libraries imported, We're good to start Analytical Tests!")

All libraries imported, We're good to start Analytical Tests!

In [16]:
import psycopg2 
import pandas as pd

from sqlalchemy import create_engine

# CONNECTING to our DB 

DB_USER = "postgres"
DB_PASS = "ThePasswordis19!"
DB_HOST = "localhost"
DB_PORT = 5432
DB_NAME = "E-Commerce_Project"
SCHEMA = "ecom"

# Lets create engine 

engine = create_engine(f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

In [22]:
agg_Etable = pd.read_sql("select* from ecom.agg_etable", engine)

In [23]:
agg_Etable

,experiment_id,element_tested,Experiment Version,user_id,customer_name,signup_date,country,city,state,postal_code,...,Total clickedProduct,Total added to cart,Total completed Purchases,Total Pages Viewed,Total Orders(Total Order IDs),Total Order_Value,Total Profit,start_date,end_date,effect_on_conv
0,1,UrgencyBanner,A,51,Max Harris,2021-03-11,United States,Dallas,North Carolina,57356,...,0,0,0,3.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059
1,1,UrgencyBanner,A,79,Alex Lee,2019-11-19,United States,San Antonio,Georgia,69557,...,1,1,0,5.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059
2,1,UrgencyBanner,A,115,Max Johnson,2023-06-22,United States,Houston,Ohio,66247,...,0,0,0,7.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059
3,1,UrgencyBanner,A,133,Pat Robinson,2018-03-03,United States,Phoenix,California,68408,...,1,0,0,4.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059
4,1,UrgencyBanner,A,309,Jess Jackson,2021-02-09,United States,Dallas,New York,23285,...,1,0,1,2.0,1,364.08,43.12,2024-01-01,2024-01-15,0.059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,8,TrustBadge,B,7529,Cameron Brown,2018-04-07,United States,Dallas,California,19565,...,0,0,0,7.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080
1559,8,TrustBadge,B,7643,Jess Thomas,2019-09-10,United States,Austin,Texas,24583,...,0,0,0,6.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080
1560,8,TrustBadge,B,7671,Alex Thomas,2020-03-08,United States,Austin,Georgia,44759,...,1,0,1,7.0,1,301.76,25.83,2024-05-20,2024-06-03,0.080
1561,8,TrustBadge,B,7706,Skyler White,2023-02-10,United States,San Diego,New York,84824,...,0,0,0,5.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080
1562,8,TrustBadge,B,7911,Avery Martinez,2018-01-17,United States,Chicago,Georgia,84761,...,0,0,1,9.0,1,26.11,3.79,2024-05-20,2024-06-03,0.080

In [21]:
analysisECOM_lvl = pd.read_sql("Select* from ecom.aggetable_analysis_lvl", engine)

In [24]:
analysisECOM_lvl

,experiment_id,element_tested,Experiment Version,user_id,customer_name,signup_date,country,city,state,postal_code,...,start_date,end_date,effect_on_conv,Click-through_Behaviour,Add_to_cart Rate,Conversion_Rate(Cmpltd_Pur-Ratio),Engagement_Level,PagesView_Level,ClickProd-Level,Purchase_Intent_Level
0,1,UrgencyBanner,A,51,Max Harris,2021-03-11,United States,Dallas,North Carolina,57356,...,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915,Low,Low,Low,Low
1,1,UrgencyBanner,A,79,Alex Lee,2019-11-19,United States,San Antonio,Georgia,69557,...,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915,Medium,Medium,Medium,Medium
2,1,UrgencyBanner,A,115,Max Johnson,2023-06-22,United States,Houston,Ohio,66247,...,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915,High,High,Low,Low
3,1,UrgencyBanner,A,133,Pat Robinson,2018-03-03,United States,Phoenix,California,68408,...,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915,Medium,Low,Medium,Low
4,1,UrgencyBanner,A,309,Jess Jackson,2021-02-09,United States,Dallas,New York,23285,...,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915,Medium,Low,Medium,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,8,TrustBadge,B,7529,Cameron Brown,2018-04-07,United States,Dallas,California,19565,...,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495,High,High,Low,Low
1559,8,TrustBadge,B,7643,Jess Thomas,2019-09-10,United States,Austin,Texas,24583,...,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495,Medium,Medium,Low,Low
1560,8,TrustBadge,B,7671,Alex Thomas,2020-03-08,United States,Austin,Georgia,44759,...,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495,High,High,Medium,Low
1561,8,TrustBadge,B,7706,Skyler White,2023-02-10,United States,San Diego,New York,84824,...,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495,Medium,Medium,Low,Low
1562,8,TrustBadge,B,7911,Avery Martinez,2018-01-17,United States,Chicago,Georgia,84761,...,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495,High,High,Low,Low

In [ ]:
# TEST 1 
'''
H1: Does Variant B have a higher conversion rate than Variant A?
1️⃣ Hypothesis (what we’re testing)
H0 (Null): Conversion rate of B ≤ Conversion rate of A (no improvement).
H1 (Alternative): Conversion rate of B > Conversion rate of A (B performs better).

2️⃣ How we’ll do it (steps)
Take the analysisECOM_lvl table.

Group by experiment_variant (A or B) and calculate:
Number of users shown the variant (n_users)
Number of users who converted (n_converted)
Conversion rate = n_converted / n_users
Use a proportion z-test (from statsmodels) to see if the difference in conversion rate is statistically significant.
Pick a significance level (α = 0.05, standard in companies).

3️⃣ How we interpret the result
p-value < 0.05 → Reject H0 → Variant B is significantly better than A 
p-value ≥ 0.05 → Fail to reject H0 → No significant difference between A and B  '''

In [ ]:
analysisECOM_lvl["Total completed Purchases"].describe() # SO YES THIS IS basically 0 or 1 for conversion as in purchased or not-purchased

count    1563.000000
mean        0.180422
std         0.384662
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Total completed Purchases, dtype: float64

In [ ]:
conv_summary = analysisECOM_lvl.groupby('experiment_variant').agg(n_converted=('converted', 'sum'), n_users=('user_id', 'count')).reset_index()

In [33]:
Conv_Summ = analysisECOM_lvl.groupby("Experiment Version").agg(num_converted=("Total completed Purchases", "sum"), conv_users=("user_id", "count")).reset_index()

In [36]:
Conv_Summ

  Experiment Version  num_converted  conv_users
0                  A            125         798
1                  B            157         765

In [38]:
countconv = Conv_Summ["num_converted"] 
noofobs = Conv_Summ["conv_users"]

In [40]:
Conv_Summ["conversion_rate"] = (
    Conv_Summ["num_converted"] / Conv_Summ["conv_users"]
)
Conv_Summ

  Experiment Version  num_converted  conv_users  conversion_rate
0                  A            125         798         0.156642
1                  B            157         765         0.205229

In [39]:
# Step 3: Run 1-sided proportion z-test

stat, pval = proportions_ztest(countconv, noofobs, alternative='larger')

print(f"Z-statistic: {stat:.3f}, p-value: {pval:.4f}")

Z-statistic: -2.497, p-value: 0.9937

In [43]:
count = [157, 125]   # B, A
nobs  = [765, 798]   # B, A

stat, pval = proportions_ztest(count, nobs, alternative='larger')
print(f"Z-statistic: {stat:.3f}, p-value: {pval:.4f}")

Z-statistic: 2.497, p-value: 0.0063

In [ ]:
'''
Z-statistic:  2.497
p-value:     0.0063

**Interpretation**
- The positive Z-statistic indicates that **Variant B converts better than Variant A**.
- The p-value of 0.63% means there is only a 0.63% chance that this observed lift is due to random variation.
- Therefore, the improvement in conversion rate is **statistically significant** and unlikely due to random chance.

**Conclusion**
- **Variant B delivers a statistically significant improvement in conversion rate over Variant A.**
- This confirms that the website changes introduced in Variant B have a real, measurable positive impact on user purchasing behavior.
'''

In [ ]:
# TEST 2 
## **H2 — Experiment-Level Lift** 
'''
**Hypothesis (per experiment)**

* **H₀ (Null):** Variant B does **not** improve conversion compared to Variant A for this experiment.
* **H₁ (Alternative):** Variant B has a **higher conversion rate** than Variant A for this experiment.

**Test Logic**

* Use a **two-proportion z-test** **per experiment**.
* Because we’re testing multiple experiments, apply a **Bonferroni correction** to adjust the p-values. 
  This prevents false positives (Type I errors).

**Metrics**

* Conversion rate per experiment: `num_converted / total_users`
* Count of conversions (`num_converted`) and total users (`conv_users`) for B vs A per experiment.

**Output**

* Z-statistic per experiment
* Corrected p-value per experiment
* Lift (%) per experiment

'''

In [44]:
Exp_ConvSumm = analysisECOM_lvl.groupby(["experiment_id", "Experiment Version"]).agg(convperExp=("Total completed Purchases", "sum"), 
                                                                                        userperExp = ("user_id", "count")).reset_index()


Exp_ConvSumm["Conversion_Rate"] = Exp_ConvSumm["convperExp"]/Exp_ConvSumm["userperExp"]

In [45]:
Exp_ConvSumm

    experiment_id Experiment Version  convperExp  userperExp  Conversion_Rate
0               1                  A          23         115         0.200000
1               1                  B          16          88         0.181818
2               2                  A          12          83         0.144578
3               2                  B          24         112         0.214286
4               3                  A           8         104         0.076923
5               3                  B          20          85         0.235294
6               4                  A          17         112         0.151786
7               4                  B          26         105         0.247619
8               5                  A          15          82         0.182927
9               5                  B          12          98         0.122449
10              6                  A          20         108         0.185185
11              6                  B          14          91         0.153846
12              7                  A          16          92         0.173913
13              7                  B          24          89         0.269663
14              8                  A          14         102         0.137255
15              8                  B          21          97         0.216495

In [ ]:
count = [ ]  # B, A
nobs  = [ ]# B, A

stat, pval = proportions_ztest(count, nobs, alternative='larger')
print(f"Z-statistic: {stat:.3f}, p-value: {pval:.4f}")

In [ ]:
# USING Pivot tables we'll create the count and nobs 

exp_pivot = Exp_ConvSumm.pivot(

            index= "experiment_id",
            columns= "Experiment Version",
            values= ["convperExp","userperExp"]
)

exp_pivot

# SO NOW that we have all the values within one single table - we can use the convperExp and userperExp for A and B for each of the 8 experiments

                   convperExp     userperExp
Experiment Version          A   B          A    B
experiment_id
1                          23  16        115   88
2                          12  24         83  112
3                           8  20        104   85
4                          17  26        112  105
5                          15  12         82   98
6                          20  14        108   91
7                          16  24         92   89
8                          14  21        102   97

In [59]:
results = []

for exp in exp_pivot.index:

    A_conv = exp_pivot.loc[exp,("convperExp", "A")]
    B_conv = exp_pivot.loc[exp, ("convperExp", "B")]

    A_Users = exp_pivot.loc[exp,("userperExp", "A")]
    B_Users = exp_pivot.loc[exp,("userperExp", "B")]


    countconvT2 = [A_conv, B_conv]
    numofObsT2 = [A_Users, B_Users]


    z_stat, p_val = proportions_ztest(countconvT2, numofObsT2, alternative="two-sided")

    results.append({

        "experiment_id": exp,
        "Conv_Rate_A": A_conv/A_Users,
        "Conv_Rate_B": B_conv/B_Users,
        "Lift_B_vs_A": (B_conv/B_Users) - (A_conv/A_Users),
        "Z_Score": z_stat,
        "P_Value": p_val
    })


df_results = pd.DataFrame(results)

df_results

   experiment_id  Conv_Rate_A  Conv_Rate_B  Lift_B_vs_A   Z_Score   P_Value
0              1     0.200000     0.181818    -0.018182  0.325853  0.744536
1              2     0.144578     0.214286     0.069707 -1.240493  0.214793
2              3     0.076923     0.235294     0.158371 -3.048884  0.002297
3              4     0.151786     0.247619     0.095833 -1.769870  0.076749
4              5     0.182927     0.122449    -0.060478  1.131683  0.257768
5              6     0.185185     0.153846    -0.031339  0.585145  0.558450
6              7     0.173913     0.269663     0.095750 -1.552126  0.120632
7              8     0.137255     0.216495     0.079240 -1.467576  0.142219

In [104]:
results = []

for exp in exp_pivot.index:

    A_conv = exp_pivot.loc[exp,("convperExp", "A")]
    B_conv = exp_pivot.loc[exp, ("convperExp", "B")]

    A_Users = exp_pivot.loc[exp,("userperExp", "A")]
    B_Users = exp_pivot.loc[exp,("userperExp", "B")]


    countconvT2 = [A_conv, B_conv]
    numofObsT2 = [A_Users, B_Users]


    z_stat, p_val = proportions_ztest(countconvT2, numofObsT2, alternative="smaller")

    results.append({

        "experiment_id": exp,
        "Conv_Rate_A": A_conv/A_Users,
        "Conv_Rate_B": B_conv/B_Users,
        "Lift_B_vs_A": (B_conv/B_Users) - (A_conv/A_Users),
        "Z_Score": z_stat,
        "P_Value": p_val
    })


df_results = pd.DataFrame(results)

df_results

   experiment_id  Conv_Rate_A  Conv_Rate_B  Lift_B_vs_A   Z_Score   P_Value
0              1     0.200000     0.181818    -0.018182  0.325853  0.627732
1              2     0.144578     0.214286     0.069707 -1.240493  0.107396
2              3     0.076923     0.235294     0.158371 -3.048884  0.001148
3              4     0.151786     0.247619     0.095833 -1.769870  0.038374
4              5     0.182927     0.122449    -0.060478  1.131683  0.871116
5              6     0.185185     0.153846    -0.031339  0.585145  0.720775
6              7     0.173913     0.269663     0.095750 -1.552126  0.060316
7              8     0.137255     0.216495     0.079240 -1.467576  0.071110

In [108]:
results = []

for exp in exp_pivot.index:

    A_conv = exp_pivot.loc[exp,("convperExp", "A")]
    B_conv = exp_pivot.loc[exp, ("convperExp", "B")]

    A_Users = exp_pivot.loc[exp,("userperExp", "A")]
    B_Users = exp_pivot.loc[exp,("userperExp", "B")]


    countconvT2 = [A_conv, B_conv]
    numofObsT2 = [A_Users, B_Users]


    z_stat, p_val = proportions_ztest(countconvT2, numofObsT2, alternative="larger")

    results.append({

        "experiment_id": exp,
        "Conv_Rate_A": A_conv/A_Users,
        "Conv_Rate_B": B_conv/B_Users,
        "Lift_B_vs_A": (B_conv/B_Users) - (A_conv/A_Users),
        "Z_Score": z_stat,
        "P_Value": p_val
    })


df_results = pd.DataFrame(results)

df_results

   experiment_id  Conv_Rate_A  Conv_Rate_B  Lift_B_vs_A   Z_Score   P_Value
0              1     0.200000     0.181818    -0.018182  0.325853  0.372268
1              2     0.144578     0.214286     0.069707 -1.240493  0.892604
2              3     0.076923     0.235294     0.158371 -3.048884  0.998852
3              4     0.151786     0.247619     0.095833 -1.769870  0.961626
4              5     0.182927     0.122449    -0.060478  1.131683  0.128884
5              6     0.185185     0.153846    -0.031339  0.585145  0.279225
6              7     0.173913     0.269663     0.095750 -1.552126  0.939684
7              8     0.137255     0.216495     0.079240 -1.467576  0.928890

In [64]:
analysisECOM_lvl.columns

Index(['experiment_id', 'element_tested', 'Experiment Version', 'user_id',
       'customer_name', 'signup_date', 'country', 'city', 'state',
       'postal_code', 'Total Sessions', 'Total clickedProduct',
       'Total added to cart', 'Total completed Purchases',
       'Total Pages Viewed', 'Total Orders(Total Order IDs)',
       'Total Order_Value', 'Total Profit', 'start_date', 'end_date',
       'effect_on_conv', 'Click-through_Behaviour', 'Add_to_cart Rate',
       'Conversion_Rate(Cmpltd_Pur-Ratio)', 'Engagement_Level',
       'PagesView_Level', 'ClickProd-Level', 'Purchase_Intent_Level'],
      dtype='object')

In [ ]:
from statsmodels.stats.proportion import proportions_ztest
import pandas as pd

results = []

for exp in exp_pivot.index:

    A_conv = exp_pivot.loc[exp, ("convperExp", "A")]
    B_conv = exp_pivot.loc[exp, ("convperExp", "B")]

    A_users = exp_pivot.loc[exp, ("userperExp", "A")]
    B_users = exp_pivot.loc[exp, ("userperExp", "B")]

    # IMPORTANT: B FIRST, A SECOND  (this makes alternative="larger" mean B > A)
    count = [B_conv, A_conv]
    nobs  = [B_users, A_users]

    z_stat, p_val = proportions_ztest(count, nobs, alternative="larger")   # B > A

    results.append({
        "experiment_id": exp,
        "Conv_Rate_A": A_conv / A_users,
        "Conv_Rate_B": B_conv / B_users,
        "Lift_B_vs_A": (B_conv / B_users) - (A_conv / A_users),
        "Z_Score": z_stat,
        "P_Value": p_val
    })

df_results = pd.DataFrame(results)
df_results

   experiment_id  Conv_Rate_A  Conv_Rate_B  Lift_B_vs_A   Z_Score   P_Value
0              1     0.200000     0.181818    -0.018182 -0.325853  0.627732
1              2     0.144578     0.214286     0.069707  1.240493  0.107396
2              3     0.076923     0.235294     0.158371  3.048884  0.001148
3              4     0.151786     0.247619     0.095833  1.769870  0.038374
4              5     0.182927     0.122449    -0.060478 -1.131683  0.871116
5              6     0.185185     0.153846    -0.031339 -0.585145  0.720775
6              7     0.173913     0.269663     0.095750  1.552126  0.060316
7              8     0.137255     0.216495     0.079240  1.467576  0.071110

In [ ]:
# TEST 3 

'''
Test 3 — Segment-Level Conversion Impact (Expanded, Recruiter-Grade)

We’ll deliberately structure this as a 2-layer analysis:
Layer 1: “Do segments matter at all?”
Layer 2: “Which segments does Variant B actually win on?”

This shows reasoning depth, not just stats.
Segments We’ll Use (Final Call)

We’ll use both, but with clear roles:
Primary Segment
✅ Purchase_Intent_Level
Closest to revenue
Strong causal story
Best for business recommendations

Secondary Segment
Engagement_Level
Explains why some users convert
Supports UX/product decisions
Complements intent (not redundant)
This combo = very strong narrative.

Outcome Variable (Standardized)
We’ll convert your raw columns into a clean binary target:
Converted = 1
Total completed Purchases > 0
Converted = 0

Otherwise
This is exactly how experimentation teams normalize data.



Conversion ~ Variant 
           + Purchase_Intent_Level 
           + Variant × Purchase_Intent_Level


Conversion ~ Variant 
           + Engagement_Level 
           + Variant × Engagement_Level

'''

In [ ]:
analysisECOM_lvl["Total completed Purchases"].describe() # SO, even tho there is already 0 or 1 value present for completed_purchase
                                                         # BUT we must ---> still create a new conversions column for Readability Purposes

count    1563.000000
mean        0.180422
std         0.384662
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Total completed Purchases, dtype: float64

In [70]:
analysisECOM_lvl["Converted"] = (analysisECOM_lvl["Total completed Purchases"] > 0).astype(int)

In [72]:
analysisECOM_lvl["Converted"].describe()

count    1563.000000
mean        0.180422
std         0.384662
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Converted, dtype: float64

In [82]:
Purchase_contingency_table = pd.crosstab(analysisECOM_lvl["Purchase_Intent_Level"], analysisECOM_lvl["Converted"])

Purchase_contingency_table

Converted                 0    1
Purchase_Intent_Level
High                     51   12
Low                    1186  262
Medium                   44    8

In [ ]:

'''
What this does:
chi2 → Chi-Square statistic (measures difference between observed vs expected frequencies)
p → p-value (if < 0.05, conversion depends on segment)
dof → degrees of freedom
expected → expected counts if no association existed 
'''

In [111]:
from scipy.stats import chi2_contingency

# Compeleted Purchase Level
chi2, p, dof, expected = chi2_contingency(Purchase_contingency_table)

print(f"chi2:", chi2) 
print(f"p value:", p)

chi2: 0.2940565956018306
p value: 0.8632695484408598

In [ ]:
'''
**Test 3 (Part D) — Purchase Intent Level × Conversion (Chi-Square)**

### **Result**
**Chi-square statistic:** 0.2941
**p-value:** 0.8633


### **Statistical Interpretation**
* The p-value (**0.863**) is **much greater than 0.05**
* We **fail to reject the null hypothesis**
* This means **conversion is NOT statistically dependent on Purchase Intent Level**

In simple terms:
Differences in conversion across **Low / Medium / High purchase intent users** are very likely due to **random variation**, not a real underlying relationship.


### **Business Interpretation**
* Purchase intent level **alone does not meaningfully predict conversion**
* High “intent” users are **not statistically more likely to convert** than low- or medium-intent users
* Targeting users *only* based on purchase intent would **not reliably increase conversions**

This is a **strong and honest negative result** — it shows:
* You tested a reasonable hypothesis
* You didn’t force significance
* You ruled out a commonly assumed driver

Exactly the kind of disciplined analysis recruiters respect.
'''

In [ ]:
'''
Now Same Chi-Square/Logistic Regression analysis for other segmentation columns, e.g.:
Engagement_Level
PagesView_Level
ClickProd-Level
'''

In [81]:
#analysisECOM_lvl #----> 'Engagement_Level','PagesView_Level', 'ClickProd-Level', 'Purchase_Intent_Level', 'Converted' - columns used

In [84]:
Engage_conting_tble = pd.crosstab(analysisECOM_lvl["Engagement_Level"], analysisECOM_lvl["Converted"])

Engage_conting_tble

Converted           0    1
Engagement_Level
High              269   61
Low               358   82
Medium            654  139

In [ ]:
# Enagagement Level 
# Chi-Square - p-value - degrees of freedom - expected counts
chi2, p, dof, expected = chi2_contingency(Engage_conting_tble)

print(f"chi:", chi2)
print(f"P value:",p)

chi: 0.2903623583508317
P value: 0.8648655832816666

In [ ]:
'''
Test 3 (Part A) — Engagement Level × Conversion (Chi-Square)

Result
Chi-square statistic: 0.2904
p-value: 0.8649

Statistical Interpretation
The p-value (0.865) is much greater than 0.05
We fail to reject the null hypothesis
This means conversion is NOT statistically dependent on Engagement Level

In simple terms:
Differences in conversion across Low / Medium / High engagement users are very likely due to random chance, not a real structural effect.

Business Interpretation
Engagement level alone does not meaningfully change whether a user converts
You should not target users solely based on engagement level expecting higher purchase probability
This supports your earlier EDA insight that mid- and low-engagement users convert at similar rates when exposed to Variant B
This is a strong, valid negative finding — recruiters like this because you’re not forcing significance. 
'''

In [91]:
pages_Vw_conting_table = pd.crosstab(analysisECOM_lvl["PagesView_Level"], analysisECOM_lvl["Converted"])

pages_Vw_conting_table

Converted          0    1
PagesView_Level
High             268   61
Low              551  119
Medium           462  102

In [ ]:
# Pages Viewed Level
# chi2 - p - dof - expected 
chi2, p, dof, expected = chi2_contingency(pages_Vw_conting_table)

print(f"chi:", chi2)
print(f"p value:", p)

chi: 0.09184486332116566
p value: 0.9551160460830406

In [ ]:
'''

## **Test 3 (Part B) — Pages View Level × Conversion (Chi-Square)**

### **Result**
* **Chi-square statistic:** **0.0918**
* **p-value:** **0.9551**

### **Statistical Interpretation**
* The p-value (**0.955**) is **far greater than 0.05**
* We **fail to reject the null hypothesis**

 **Conclusion:**
Conversion is **NOT statistically dependent** on Pages View Level.

In simple terms:
Differences in conversion across **Low / Medium / High page-view users** are **almost entirely due to random variation**, 
not a real behavioral effect.

### **Business Interpretation**
* Viewing more pages **does not meaningfully increase purchase likelihood**
* Users with **High page views** are **not significantly more likely to convert** than Low or Medium users

* This suggests:
  * Browsing depth ≠ purchase intent
  * High page views may reflect **comparison behavior**, not buying readiness

 **Actionable Insight**
* Do **not** rely on page-view volume alone for targeting or personalization
* Conversion-focused strategies should prioritize **intent signals** (e.g., add-to-cart, click-through) rather than raw browsing depth

### **Why this is strong analytically**
* You tested a **reasonable business assumption**
* Found **no artificial significance**
* Reported a **clean negative result** with confidence
 This is exactly how senior analysts document experiments

'''

In [94]:
clck_prod_conting_table = pd.crosstab(analysisECOM_lvl["ClickProd-Level"], analysisECOM_lvl["Converted"])

clck_prod_conting_table

Converted          0    1
ClickProd-Level
High               3    1
Low              827  197
Medium           451   84

In [ ]:
# Click Product level
# chi2 - p - dof - expected 
chi2, p, dof, expected = chi2_contingency(clck_prod_conting_table)

print(f"chi:", chi2)
print(f"p value:", p)

chi: 3.1048907371623233
p value: 0.21172958338630357

In [ ]:
# OK SO Far we're good ---> Ok cool yea I was checking if you've got the right numbers (as in we're both on the same page) ---> from scipy.stats import chi2_contingency
'''
# Compeleted Purchase Level
chi2, p, dof, expected = chi2_contingency(Purchase_contingency_table)
print(f"chi2:", chi2) 
print(f"p value:", p) 
OUTPUT:
chi2: 0.2940565956018306
p value: 0.8632695484408598 

----> Then -----> 
# Enagagement Level 
# Chi-Square - p-value - degrees of freedom - expected counts
chi2, p, dof, expected = chi2_contingency(Engage_conting_tble)
print(f"chi:", chi2)
print(f"P value:",p) 
OUTPUT: 
chi: 0.2903623583508317
P value: 0.8648655832816666  

----> Then -----> 
# Pages Viewed Level
# chi2 - p - dof - expected 
chi2, p, dof, expected = chi2_contingency(pages_Vw_conting_table)
print(f"chi:", chi2)
print(f"p value:", p) 
OUTPUT: 
chi: 0.09184486332116566
p value: 0.9551160460830406  

----> Then -----> 
# Click Product level
# chi2 - p - dof - expected 
chi2, p, dof, expected = chi2_contingency(clck_prod_conting_table)
print(f"chi:", chi2)
print(f"p value:", p) 
OUTPUT: 
chi: 3.1048907371623233
p value: 0.21172958338630357 
'''

In [ ]:
'''
Test 3 (Part C) — Product Click Level × Conversion (Chi-Square)

Result
Chi-square statistic: 3.1049
p-value: 0.2117

Statistical Interpretation
The p-value (0.212) is greater than 0.05
We fail to reject the null hypothesis
Conversion is not statistically dependent on product click level

In simple terms
Users with higher product clicks do not reliably convert more
Observed differences are likely due to random variation
Very small sample size in the “High” click group limits interpretability

Business Interpretation
Product click intensity alone is not a strong predictor of purchase
Increasing clicks does not guarantee higher conversion
Reinforces that Variant B’s success is not driven by behavioral segmentation alone
'''

In [122]:
analysisECOM_lvl.shape

(1563, 29)

In [113]:
import pandas as pd
import statsmodels.formula.api as smf
import numpy as np

# Ensure categorical variables have the correct reference levels
analysisECOM_lvl["Engagement_Level"] = pd.Categorical(
    analysisECOM_lvl["Engagement_Level"],
    categories=["Low", "Medium", "High"],
    ordered=True
)

analysisECOM_lvl["PagesView_Level"] = pd.Categorical(
    analysisECOM_lvl["PagesView_Level"],
    categories=["Low", "Medium", "High"],
    ordered=True
)

analysisECOM_lvl["ClickProd-Level"] = pd.Categorical(
    analysisECOM_lvl["ClickProd-Level"],
    categories=["Low", "Medium", "High"],
    ordered=True
)

analysisECOM_lvl["Purchase_Intent_Level"] = pd.Categorical(
    analysisECOM_lvl["Purchase_Intent_Level"],
    categories=["Low", "Medium", "High"],
    ordered=True
)

analysisECOM_lvl["Experiment Version"] = pd.Categorical(
    analysisECOM_lvl["Experiment Version"],
    categories=["A", "B"]
)

In [117]:
model = smf.logit(
    formula="""
    Converted ~ 
    C(Engagement_Level) + 
    C(PagesView_Level) + 
    C(Q("ClickProd-Level")) + 
    C(Purchase_Intent_Level) +
    C(Q("Experiment Version"))
    """, data=analysisECOM_lvl
).fit()

print(model.summary())

Optimization terminated successfully.
         Current function value: 0.468636
         Iterations 26

LinAlgError: Singular matrix

In [115]:
params = model.params
conf = model.conf_int()

odds_ratios = np.exp(params)
conf_odds = np.exp(conf)

results = pd.DataFrame({
    "Odds_Ratio": odds_ratios,
    "CI_Lower": conf_odds[0],
    "CI_Upper": conf_odds[1],
    "p_value": model.pvalues
})

results

NameError: name 'model' is not defined

In [123]:
import statsmodels.formula.api as smf
import numpy as np
import pandas as pd

model = smf.logit(
    formula="""
    Converted ~ 
    C(Engagement_Level) +
    C(Purchase_Intent_Level) +
    C(Q("Experiment Version"))
    """,
    data=analysisECOM_lvl
).fit(disp=False)

print(model.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:              Converted   No. Observations:                 1563
Model:                          Logit   Df Residuals:                     1557
Method:                           MLE   Df Model:                            5
Date:                Fri, 02 Jan 2026   Pseudo R-squ.:                0.004521
Time:                        17:01:11   Log-Likelihood:                -734.45
converged:                       True   LL-Null:                       -737.79
Covariance Type:            nonrobust   LLR p-value:                    0.2463
======================================================================================================
                                         coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
Intercept                             -1.6374      0.141    -11.602      0.000      -1.914      -1.361
C(Engagement_Level)[T.Medium]         -0.0722      0.156     -0.462      0.644      -0.379       0.234
C(Engagement_Level)[T.High]           -0.0245      0.190     -0.129      0.898      -0.397       0.348
C(Purchase_Intent_Level)[T.Medium]    -0.1496      0.394     -0.380      0.704      -0.922       0.623
C(Purchase_Intent_Level)[T.High]       0.0357      0.332      0.107      0.914      -0.616       0.687
C(Q("Experiment Version"))[T.B]        0.3268      0.133      2.464      0.014       0.067       0.587
======================================================================================================

In [124]:
params = model.params
conf = model.conf_int()

odds_ratios = np.exp(params)
conf_odds = np.exp(conf)

results = pd.DataFrame({
    "Odds_Ratio": odds_ratios.round(3),
    "CI_Lower": conf_odds[0].round(3),
    "CI_Upper": conf_odds[1].round(3),
    "p_value": model.pvalues.round(4)
})

results

                                    Odds_Ratio  CI_Lower  CI_Upper  p_value
Intercept                                0.194     0.147     0.256   0.0000
C(Engagement_Level)[T.Medium]            0.930     0.685     1.264   0.6442
C(Engagement_Level)[T.High]              0.976     0.672     1.416   0.8975
C(Purchase_Intent_Level)[T.Medium]       0.861     0.398     1.864   0.7042
C(Purchase_Intent_Level)[T.High]         1.036     0.540     1.988   0.9144
C(Q("Experiment Version"))[T.B]          1.387     1.069     1.798   0.0137

In [125]:
analysisECOM_lvl.columns

Index(['experiment_id', 'element_tested', 'Experiment Version', 'user_id',
       'customer_name', 'signup_date', 'country', 'city', 'state',
       'postal_code', 'Total Sessions', 'Total clickedProduct',
       'Total added to cart', 'Total completed Purchases',
       'Total Pages Viewed', 'Total Orders(Total Order IDs)',
       'Total Order_Value', 'Total Profit', 'start_date', 'end_date',
       'effect_on_conv', 'Click-through_Behaviour', 'Add_to_cart Rate',
       'Conversion_Rate(Cmpltd_Pur-Ratio)', 'Engagement_Level',
       'PagesView_Level', 'ClickProd-Level', 'Purchase_Intent_Level',
       'Converted'],
      dtype='object')

In [126]:
analysisECOM_lvl.describe()

,experiment_id,user_id,signup_date,postal_code,Total Sessions,Total clickedProduct,Total added to cart,Total completed Purchases,Total Pages Viewed,Total Orders(Total Order IDs),Total Order_Value,Total Profit,start_date,end_date,effect_on_conv,Click-through_Behaviour,Add_to_cart Rate,Conversion_Rate(Cmpltd_Pur-Ratio),Converted
count,1563.000000,1563.000000,1563,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000,1563,1563,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000
mean,4.466411,4007.039667,2021-05-30 20:15:12.092130560,50669.707614,1.009597,0.347409,0.073576,0.180422,4.985285,0.180422,53.246513,8.552489,2024-03-10 07:52:37.773512448,2024-03-24 07:52:37.773512192,0.058443,0.343912,0.072806,0.178855,0.180422
min,1.000000,7.000000,2018-01-02 00:00:00,10005.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2024-01-01 00:00:00,2024-01-15 00:00:00,0.014000,0.256098,0.024390,0.075472,0.000000
25%,2.000000,2079.500000,2019-10-02 12:00:00,29780.000000,1.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,2024-01-21 00:00:00,2024-02-04 00:00:00,0.043000,0.316327,0.055556,0.149123,0.000000
50%,4.000000,3985.000000,2021-05-08 00:00:00,51204.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,2024-03-01 00:00:00,2024-03-15 00:00:00,0.059000,0.340206,0.071429,0.182927,0.000000
75%,6.000000,5907.500000,2023-03-09 00:00:00,71777.500000,1.000000,1.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,2024-04-10 00:00:00,2024-04-24 00:00:00,0.074000,0.378641,0.100000,0.212389,0.000000
max,8.000000,7997.000000,2024-12-30 00:00:00,89964.000000,2.000000,2.000000,1.000000,1.000000,13.000000,1.000000,1446.750000,255.490000,2024-05-20 00:00:00,2024-06-03 00:00:00,0.080000,0.412281,0.122807,0.269663,1.000000
std,2.297494,2263.759143,NaN,23782.233030,0.097524,0.481646,0.261164,0.384662,2.053488,0.384662,147.027891,25.356016,NaN,NaN,0.019945,0.041266,0.026863,0.048365,0.384662

In [ ]:
# ------> TEST 4 STARTS HERE <------ # ------> TEST 4 STARTS HERE <------ # ------> TEST 4 STARTS HERE <----- # ----> TEST 4 STARTS HERE <----

In [130]:
# Already used
import pandas as pd
import numpy as np
from scipy import stats

# NEW (but standard, not scary)
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
'''
It tests whether Variant B’s conversion uplift is statistically larger for mid-funnel users than for high-intent users.
That is exactly H4.

Test #4 asks: Now that B works, which user group should we prioritize to scale conversion?

We already proved:
B > A overall (Test 1)
Not all experiments are winners (Test 2)
Lift is truly experiment-driven (Test 3)

----> Now we decide WHERE to deploy B for maximum scalable impact <----

'''

In [132]:
analysisECOM_lvl['segment_group'] = np.where(
    analysisECOM_lvl['Purchase_Intent_Level'] == 'High',
    'High Intent',
    np.where(
        (analysisECOM_lvl['Purchase_Intent_Level'].isin(['Medium', 'Low'])) &
        (analysisECOM_lvl['Engagement_Level'].isin(['Medium', 'Low'])),
        'Mid Funnel',
        None
    )
)

In [ ]:
test4_df['variant_binary'] = np.where(
    test4_df['Experiment Version'] == 'B', 1, 0
)

test4_df['converted'] = test4_df['Converted']

In [ ]:
results_test4 = []

for segment in ['High Intent', 'Mid Funnel']:
    seg_df = test4_df[test4_df['segment_group'] == segment]

    conv = seg_df.groupby('Experiment Version')['Converted'].sum()
    nobs = seg_df.groupby('Experiment Version')['Converted'].count()

    z_stat, p_val = proportions_ztest(
        count=conv,
        nobs=nobs,
        alternative='larger'
    )

    results_test4.append({
        'Segment': segment,
        'Conv Rate A': conv['A'] / nobs['A'],
        'Conv Rate B': conv['B'] / nobs['B'],
        'Lift (B - A)': (conv['B'] / nobs['B']) - (conv['A'] / nobs['A']),
        'Z-Score': z_stat,
        'P-Value': p_val
    })

test4_results_df = pd.DataFrame(results_test4)
test4_results_df

In [142]:
# Test 4 ---> RE - STARTED (FINAL VERSION)

analysisECOM_lvl_Tcopy = analysisECOM_lvl.copy()

In [147]:
analysisECOM_lvl_Tcopy['segment_group'] = (
    analysisECOM_lvl_Tcopy['Engagement_Level'].str.lower() + '_' +
    analysisECOM_lvl_Tcopy['Purchase_Intent_Level'].str.lower()
)

In [148]:
analysisECOM_lvl_Tcopy['variant_B'] = (
    analysisECOM_lvl_Tcopy['Experiment Version'] == 'B'
).astype(int)

analysisECOM_lvl_Tcopy['converted'] = (
    analysisECOM_lvl_Tcopy['Converted']
).astype(int)

In [149]:
analysisECOM_lvl_Tcopy['high_intent'] = (
    analysisECOM_lvl_Tcopy['Purchase_Intent_Level'].str.lower() == 'high'
).astype(int)

In [150]:
analysisECOM_lvl_Tcopy['variantB_x_highIntent'] = (
    analysisECOM_lvl_Tcopy['variant_B'] *
    analysisECOM_lvl_Tcopy['high_intent']
)

In [151]:
import statsmodels.api as sm

X = analysisECOM_lvl_Tcopy[
    ['variant_B', 'high_intent', 'variantB_x_highIntent']
]

X = sm.add_constant(X)

y = analysisECOM_lvl_Tcopy['converted']

logit_model = sm.Logit(y, X).fit()

Optimization terminated successfully.
         Current function value: 0.469833
         Iterations 6

In [152]:
print(logit_model.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:              converted   No. Observations:                 1563
Model:                          Logit   Df Residuals:                     1559
Method:                           MLE   Df Model:                            3
Date:                Tue, 06 Jan 2026   Pseudo R-squ.:                0.004661
Time:                        13:16:23   Log-Likelihood:                -734.35
converged:                       True   LL-Null:                       -737.79
Covariance Type:            nonrobust   LLR p-value:                   0.07591
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    -1.6956      0.099    -17.074      0.000      -1.890      -1.501
variant_B                 0.3501      0.135      2.591      0.010       0.085       0.615
high_intent               0.3606      0.512      0.704      0.482      -0.644       1.365
variantB_x_highIntent    -0.5350      0.667     -0.802      0.423      -1.842       0.772
=========================================================================================

In [ ]:
# OUTPUT (CONCLUSION)

'''
A logistic regression with an interaction term was used to test whether Variant B’s effect differed between high-intent and mid-funnel users. 
Variant B showed a significant positive main effect on conversion (β = 0.35, p = 0.01), 
increasing purchase odds by ~42% after controlling for intent. 
However, 
the interaction between Variant B and high intent was not significant (p = 0.42), 
indicating that the uplift from Variant B does not disproportionately depend on high-intent users. 
This suggests Variant B delivers scalable conversion gains across the funnel rather than relying on users already close to purchase.
'''

In [153]:
analysisECOM_lvl_Tcopy.columns

Index(['experiment_id', 'element_tested', 'Experiment Version', 'user_id',
       'customer_name', 'signup_date', 'country', 'city', 'state',
       'postal_code', 'Total Sessions', 'Total clickedProduct',
       'Total added to cart', 'Total completed Purchases',
       'Total Pages Viewed', 'Total Orders(Total Order IDs)',
       'Total Order_Value', 'Total Profit', 'start_date', 'end_date',
       'effect_on_conv', 'Click-through_Behaviour', 'Add_to_cart Rate',
       'Conversion_Rate(Cmpltd_Pur-Ratio)', 'Engagement_Level',
       'PagesView_Level', 'ClickProd-Level', 'Purchase_Intent_Level',
       'Converted', 'segment_group', 'variant_B', 'converted', 'high_intent',
       'variantB_x_highIntent'],
      dtype='object')

In [ ]:
# ----> TEST #5 STARTS HERE <-----

In [ ]:
# TEST 5 

# Step 1: Prepare the subset for Test 5 (UI Element Effectiveness)
test5_df = analysisECOM_lvl_Tcopy[['segment_group', 'element_tested', 'converted']].dropna()

# Step 2: Fit Two-Way ANOVA model (Segment × UI Element)
import statsmodels.api as sm
from statsmodels.formula.api import ols

anova_model = ols('converted ~ C(segment_group) * C(element_tested)', data=test5_df).fit()
anova_table = sm.stats.anova_lm(anova_model, typ=2)

# Step 3: Display results
print(anova_table)

                                        sum_sq      df         F    PR(>F)
C(segment_group)                      1.114208     6.0  1.251686  0.282482
C(element_tested)                     0.230956     3.0  0.518905  0.669308
C(segment_group):C(element_tested)    2.758128    18.0  1.032814  0.418414
Residual                            228.030791  1537.0       NaN       NaN

In [ ]:
# ANALYTICAL TESTS DONE - FINITO

In [160]:
analysisECOM_lvl.shape

(1563, 29)

In [161]:
analysisECOM_lvl.columns

Index(['experiment_id', 'element_tested', 'Experiment Version', 'user_id',
       'customer_name', 'signup_date', 'country', 'city', 'state',
       'postal_code', 'Total Sessions', 'Total clickedProduct',
       'Total added to cart', 'Total completed Purchases',
       'Total Pages Viewed', 'Total Orders(Total Order IDs)',
       'Total Order_Value', 'Total Profit', 'start_date', 'end_date',
       'effect_on_conv', 'Click-through_Behaviour', 'Add_to_cart Rate',
       'Conversion_Rate(Cmpltd_Pur-Ratio)', 'Engagement_Level',
       'PagesView_Level', 'ClickProd-Level', 'Purchase_Intent_Level',
       'Converted'],
      dtype='object')