In [3]:
import pandas as pd
from sqlalchemy import create_engine
import os
from sqlalchemy import text

In [4]:
# CONNECTING to our DB 

DB_USER = "postgres"
DB_PASS = "***"
DB_HOST = "localhost"
DB_PORT = 5432
DB_NAME = "E-Commerce_Project"
SCHEMA = "ecom"

# Lets create engine 

engine = create_engine(f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

In [5]:
agg_table_name = "agg_etable"  # Table name in ecom schema

query = f'SELECT * FROM ecom.{agg_table_name}'

agg_df = pd.read_sql(query, engine)

In [1528]:
agg_df.shape  # LOOKS ABOUT RIGHT --> Final output was exactly 1563 rows and the columns looks about right

(1563, 21)

In [1529]:
agg_df.duplicated().sum() # so no duplicated records

np.int64(0)

In [1530]:
agg_df.isnull().sum().sum()

np.int64(0)

In [1531]:
agg_df["user_id"].nunique()

1435

In [1532]:
agg_df.shape[0]

1563

In [1533]:
agg_df.shape[1]

21

In [1534]:
agg_df

,experiment_id,element_tested,Experiment Version,user_id,customer_name,signup_date,country,city,state,postal_code,...,Total clickedProduct,Total added to cart,Total completed Purchases,Total Pages Viewed,Total Orders(Total Order IDs),Total Order_Value,Total Profit,start_date,end_date,effect_on_conv
0,1,UrgencyBanner,A,51,Max Harris,2021-03-11,United States,Dallas,North Carolina,57356,...,0,0,0,3.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059
1,1,UrgencyBanner,A,79,Alex Lee,2019-11-19,United States,San Antonio,Georgia,69557,...,1,1,0,5.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059
2,1,UrgencyBanner,A,115,Max Johnson,2023-06-22,United States,Houston,Ohio,66247,...,0,0,0,7.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059
3,1,UrgencyBanner,A,133,Pat Robinson,2018-03-03,United States,Phoenix,California,68408,...,1,0,0,4.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059
4,1,UrgencyBanner,A,309,Jess Jackson,2021-02-09,United States,Dallas,New York,23285,...,1,0,1,2.0,1,364.08,43.12,2024-01-01,2024-01-15,0.059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,8,TrustBadge,B,7529,Cameron Brown,2018-04-07,United States,Dallas,California,19565,...,0,0,0,7.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080
1559,8,TrustBadge,B,7643,Jess Thomas,2019-09-10,United States,Austin,Texas,24583,...,0,0,0,6.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080
1560,8,TrustBadge,B,7671,Alex Thomas,2020-03-08,United States,Austin,Georgia,44759,...,1,0,1,7.0,1,301.76,25.83,2024-05-20,2024-06-03,0.080
1561,8,TrustBadge,B,7706,Skyler White,2023-02-10,United States,San Diego,New York,84824,...,0,0,0,5.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080
1562,8,TrustBadge,B,7911,Avery Martinez,2018-01-17,United States,Chicago,Georgia,84761,...,0,0,1,9.0,1,26.11,3.79,2024-05-20,2024-06-03,0.080

In [1535]:
# Knowing the data types 
agg_df.dtypes

experiment_id                      int64
element_tested                    object
Experiment Version                object
user_id                            int64
customer_name                     object
signup_date                       object
country                           object
city                              object
state                             object
postal_code                        int64
Total Sessions                     int64
Total clickedProduct               int64
Total added to cart                int64
Total completed Purchases          int64
Total Pages Viewed               float64
Total Orders(Total Order IDs)      int64
Total Order_Value                float64
Total Profit                     float64
start_date                        object
end_date                          object
effect_on_conv                   float64
dtype: object

In [29]:
agg_df.describe()

,experiment_id,user_id,postal_code,Total Sessions,Total clickedProduct,Total added to cart,Total completed Purchases,Total Pages Viewed,Total Orders(Total Order IDs),Total Order_Value,Total Profit,effect_on_conv
count,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000,1563.000000
mean,4.466411,4007.039667,50669.707614,1.009597,0.347409,0.073576,0.180422,4.985285,0.180422,53.246513,8.552489,0.058443
std,2.297494,2263.759143,23782.233030,0.097524,0.481646,0.261164,0.384662,2.053488,0.384662,147.027891,25.356016,0.019945
min,1.000000,7.000000,10005.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.014000
25%,2.000000,2079.500000,29780.000000,1.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.043000
50%,4.000000,3985.000000,51204.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.059000
75%,6.000000,5907.500000,71777.500000,1.000000,1.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.074000
max,8.000000,7997.000000,89964.000000,2.000000,2.000000,1.000000,1.000000,13.000000,1.000000,1446.750000,255.490000,0.080000

In [1536]:
dates = ["signup_date", "start_date", "end_date"]

In [1537]:
for col in dates:
    agg_df[col] = pd.to_datetime(agg_df[col], errors="coerce") # right so the errors="coerce" step makes sure that any invalid entries turn to NaN

In [1538]:
agg_df[["signup_date", "start_date", "end_date"]].dtypes

signup_date    datetime64[ns]
start_date     datetime64[ns]
end_date       datetime64[ns]
dtype: object

In [1539]:
# Check whether the ExpeirmentIDs are correct as in unique or not and whether there are 2 versions of Experiments
agg_df["experiment_id"].nunique()

8

In [1540]:
agg_df["Experiment Version"].nunique()

2

In [1541]:
agg_df["Total Sessions"].sum()

np.int64(1578)

In [1542]:
agg_df["Total Sessions"].nunique()

2

In [28]:
agg_df.columns

Index(['experiment_id', 'element_tested', 'Experiment Version', 'user_id',
       'customer_name', 'signup_date', 'country', 'city', 'state',
       'postal_code', 'Total Sessions', 'Total clickedProduct',
       'Total added to cart', 'Total completed Purchases',
       'Total Pages Viewed', 'Total Orders(Total Order IDs)',
       'Total Order_Value', 'Total Profit', 'start_date', 'end_date',
       'effect_on_conv'],
      dtype='object')

In [1543]:
agg_df.groupby(['experiment_id', 'Experiment Version']).size()

experiment_id  Experiment Version
1              A                     115
               B                      88
2              A                      83
               B                     112
3              A                     104
               B                      85
4              A                     112
               B                     105
5              A                      82
               B                      98
6              A                     108
               B                      91
7              A                      92
               B                      89
8              A                     102
               B                      97
dtype: int64

In [1544]:

##---> Exploration Questions for Python Analysis <---##

'''
1. Experiment Exposure & Distribution
    How many users were exposed to each experiment (experiment_id) and version (A/B)?
    Are the experiments roughly balanced in terms of users and sessions?
    Are there any experiments with abnormal session counts or missing exposure?
ANS:
One-liner takeaway for Q1: All experiments are roughly balanced in terms of user exposure and sessions, 
with minor differences across versions that are typical in real-world A/B testing.

Fully answered all parts of Question 1: Experiment Exposure & Distribution:
Users exposed per experiment & version → 
Done (agg_df.groupby(["experiment_id", "Experiment Version"])["user_id"].nunique()) 
Rough balance in users and sessions → 
Done (agg_df.groupby(["Experiment Version"])[["user_id","Total Sessions"]].sum() & checked per experiment) 

Abnormal session counts / missing exposure → Done (agg_df.groupby(["experiment_id", "Experiment Version"])[["Total Sessions"]].sum()) 
One-line finding for Q1:
Experiments are roughly balanced across versions, with unique user counts and total sessions distributed reasonably; 
no missing exposure detected and session counts per experiment fall within expected ranges.

    

2. Conversion Metrics per Experiment
    How do clicks, add-to-cart actions, and completed purchases differ by experiment and version?
    Are there large discrepancies in conversion rates across versions?
    Which experiments show the highest lift in key metrics?

3. User Behavior
    What is the average number of pages viewed per session across experiments and versions?
    Are there patterns in session frequency per user (Total Sessions) that affect conversion?
    Do users who engage more (clicks, pages viewed) convert more often?

4. Customer Segmentation
    Are there patterns in customer profiles (country, city, signup date) that correlate with higher conversion?
    Do certain customer segments respond better to specific experiment variations?
    Are there high-value or discount-sensitive segments (high add-to-cart, low completed purchase ratio)?

5. Temporal Trends
    Are there trends by signup date or session date that suggest seasonal/temporal effects on conversion?
    Do users exposed earlier to experiments behave differently than later users?

6. Event-Level Insights
    Are there any sessions with clicks but no add-to-cart or purchase? What percentage?
    Are there patterns in drop-off (click → add-to-cart → purchase) across experiment variations?

7. Outlier Detection & Data Quality
    Are there extreme values in pages viewed, orders, or order value?
    Are there sessions with inconsistent data (e.g., completed_purchase=1 but no order recorded)?
'''

'\n1. Experiment Exposure & Distribution\n    How many users were exposed to each experiment (experiment_id) and version (A/B)?\n    Are the experiments roughly balanced in terms of users and sessions?\n    Are there any experiments with abnormal session counts or missing exposure?\nANS:\nOne-liner takeaway for Q1: All experiments are roughly balanced in terms of user exposure and sessions, \nwith minor differences across versions that are typical in real-world A/B testing.\n\nFully answered all parts of Question 1: Experiment Exposure & Distribution:\nUsers exposed per experiment & version → \nDone (agg_df.groupby(["experiment_id", "Experiment Version"])["user_id"].nunique()) \nRough balance in users and sessions → \nDone (agg_df.groupby(["Experiment Version"])[["user_id","Total Sessions"]].sum() & checked per experiment) \n\nAbnormal session counts / missing exposure → Done (agg_df.groupby(["experiment_id", "Experiment Version"])[["Total Sessions"]].sum()) \nOne-line finding for Q1:\nExperiments are roughly balanced across versions, with unique user counts and total sessions distributed reasonably; \nno missing exposure detected and session counts per experiment fall within expected ranges.\n\n\n\n2. Conversion Metrics per Experiment\n    How do clicks, add-to-cart actions, and completed purchases differ by experiment and version?\n    Are there large discrepancies in conversion rates across versions?\n    Which experiments show the highest lift in key metrics?\n\n3. User Behavior\n    What is the average number of pages viewed per session across experiments and versions?\n    Are there patterns in session frequency per user (Total Sessions) that affect conversion?\n    Do users who engage more (clicks, pages viewed) convert more often?\n\n4. Customer Segmentation\n    Are there patterns in customer profiles (country, city, signup date) that correlate with higher conversion?\n    Do certain customer segments respond better to specific experiment variations?\n    Are there high-value or discount-sensitive segments (high add-to-cart, low completed purchase ratio)?\n\n5. Temporal Trends\n    Are there trends by signup date or session date that suggest seasonal/temporal effects on conversion?\n    Do users exposed earlier to experiments behave differently than later users?\n\n6. Event-Level Insights\n    Are there any sessions with clicks but no add-to-cart or purchase? What percentage?\n    Are there patterns in drop-off (click → add-to-cart → purchase) across experiment variations?\n\n7. Outlier Detection & Data Quality\n    Are there extreme values in pages viewed, orders, or order value?\n    Are there sessions with inconsistent data (e.g., completed_purchase=1 but no order recorded)?\n'

In [1545]:
'''
1. Experiment Exposure & Distribution
    How many users were exposed to each experiment (experiment_id) and version (A/B)?
    Are the experiments roughly balanced in terms of users and sessions?
    Are there any experiments with abnormal session counts or missing exposure?
'''

'\n1. Experiment Exposure & Distribution\n    How many users were exposed to each experiment (experiment_id) and version (A/B)?\n    Are the experiments roughly balanced in terms of users and sessions?\n    Are there any experiments with abnormal session counts or missing exposure?\n'

In [27]:
agg_df.groupby(["experiment_id", "Experiment Version"])[["element_tested"]].describe()

                                 element_tested
                                          count unique                top freq
experiment_id Experiment Version
1             A                             115      1      UrgencyBanner  115
              B                              88      1      UrgencyBanner   88
2             A                              83      1         PriceCharm   83
              B                             112      1         PriceCharm  112
3             A                             104      1         TrustBadge  104
              B                              85      1         TrustBadge   85
4             A                             112      1      UrgencyBanner  112
              B                             105      1      UrgencyBanner  105
5             A                              82      1  FreeShippingBadge   82
              B                              98      1  FreeShippingBadge   98
6             A                             108      1         PriceCharm  108
              B                              91      1         PriceCharm   91
7             A                              92      1  FreeShippingBadge   92
              B                              89      1  FreeShippingBadge   89
8             A                             102      1         TrustBadge  102
              B                              97      1         TrustBadge   97

In [1546]:
agg_df.groupby(["experiment_id", "Experiment Version"])["user_id"].count()

experiment_id  Experiment Version
1              A                     115
               B                      88
2              A                      83
               B                     112
3              A                     104
               B                      85
4              A                     112
               B                     105
5              A                      82
               B                      98
6              A                     108
               B                      91
7              A                      92
               B                      89
8              A                     102
               B                      97
Name: user_id, dtype: int64

In [1547]:
# unique users as per the ExperimentID and Version
agg_df.groupby(["experiment_id", "Experiment Version"])["user_id"].nunique()

experiment_id  Experiment Version
1              A                     115
               B                      88
2              A                      83
               B                     112
3              A                     104
               B                      85
4              A                     112
               B                     105
5              A                      82
               B                      98
6              A                     108
               B                      91
7              A                      92
               B                      89
8              A                     102
               B                      97
Name: user_id, dtype: int64

In [10]:
agg_df["Total Sessions"].describe()

count    1563.000000
mean        1.009597
std         0.097524
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: Total Sessions, dtype: float64

In [11]:
# Are the experiments roughly balanced in terms of users and sessions? THESE 4 BELOW DO NOT ANSWER IT PROPERLY (ONES AFTER IT DO)

agg_df.groupby(["user_id", "Total Sessions"])["experiment_id"].count()

# SINCE there are 1435 total outputs - its hard to go over all of em' so this should give us a good idea
agg_df.groupby(["user_id", "Total Sessions"])["experiment_id"].count().describe()


# Balanace in terms of Version 
agg_df.groupby(["experiment_id", "Experiment Version"])[["user_id", "Total Sessions"]].count()

# OR JUST SIMPLE Version wise 
agg_df.groupby(["Experiment Version"])[["user_id","Total Sessions"]].count()

                    user_id  Total Sessions
Experiment Version
A                       798             798
B                       765             765

In [14]:
agg_df["Total completed Purchases"]

0       0
1       0
2       0
3       0
4       1
       ..
1558    0
1559    0
1560    1
1561    0
1562    1
Name: Total completed Purchases, Length: 1563, dtype: int64

In [16]:
agg_df.groupby(["Experiment Version"])[["user_id","Total Sessions", "Total completed Purchases" > 0]].count()

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
agg_df.groupby(["Experiment Version"])[["user_id"]].nunique()

'''
Difference = 26 users (~3.4%) → totally acceptable in real A/B tests

User exposure across A/B variants is well balanced, with 765 users exposed to Version A and 739 to Version B,
indicating no meaningful allocation bias before conversion analysis.
'''

                    user_id
Experiment Version
A                       765
B                       739

In [1550]:
agg_df.groupby(["Experiment Version"])[["Total Sessions"]].sum()

'''
“ Session exposure across experiment variants was well balanced (A: 808 sessions, B: 770 sessions), 
indicating fair traffic distribution and supporting valid comparison of downstream conversion metrics.”

Version A: 808 total sessions
Version B: 770 total sessions
Difference = 38 sessions
That’s roughly a ~2.4% difference, which is very small in A/B testing terms.
'''

'\n“ Session exposure across experiment variants was well balanced (A: 808 sessions, B: 770 sessions), \nindicating fair traffic distribution and supporting valid comparison of downstream conversion metrics.”\n\nVersion A: 808 total sessions\nVersion B: 770 total sessions\nDifference = 38 sessions\nThat’s roughly a ~2.4% difference, which is very small in A/B testing terms.\n'

In [1551]:
'''Are there any experiments with abnormal session counts or missing exposure? '''

'''An experiment or variant exists, but no users or sessions were actually exposed to it, 
or exposure is unexpectedly low compared to others.'''

agg_df.groupby(["experiment_id", "Experiment Version"])[["Total Sessions"]].sum()
'''Within each experiment, sessions are fairly balanced between versions A and B, 
with minor natural variations (e.g., 118 vs 90 in experiment 1).'''

agg_df.groupby(["experiment_id"])[["Total Sessions"]].sum()
'''Total sessions per experiment range from 180 to 220, 
showing that each experiment has a reasonable number of sessions overall.'''

'Total sessions per experiment range from 180 to 220, \nshowing that each experiment has a reasonable number of sessions overall.'

In [1552]:
agg_df.groupby(["experiment_id", "Experiment Version"])[["user_id"]].nunique()

'''
Shows how many unique users were exposed to each experiment version.
Slight imbalance exists in a few experiments (e.g., experiment 1: A = 115, B = 88).
'''

'\nShows how many unique users were exposed to each experiment version.\nSlight imbalance exists in a few experiments (e.g., experiment 1: A = 115, B = 88).\n'

In [1553]:
agg_df.groupby(["experiment_id"])[["user_id"]].nunique()

'''
Total unique users per experiment across both versions. 
Gives the overall size of each experiment (ranges from 178 → 217 users).
'''

'\nTotal unique users per experiment across both versions. \nGives the overall size of each experiment (ranges from 178 → 217 users).\n'

In [1554]:
agg_df.groupby(["Experiment Version"])[["user_id"]].nunique()

'''
Total unique users per A/B version across all experiments. 
Version A = 765 users, Version B = 739 users → roughly balanced.
'''

'\nTotal unique users per A/B version across all experiments. \nVersion A = 765 users, Version B = 739 users → roughly balanced.\n'

In [1555]:
'''
One-liner takeaway for Q1: All experiments are roughly balanced in terms of user exposure and sessions, 
with minor differences across versions that are typical in real-world A/B testing.
'''

'\nOne-liner takeaway for Q1: All experiments are roughly balanced in terms of user exposure and sessions, \nwith minor differences across versions that are typical in real-world A/B testing.\n'

In [1556]:
'''
2. Conversion Metrics per Experiment
    How do clicks, add-to-cart actions, and completed purchases differ by experiment and version?
    Are there large discrepancies in conversion rates across versions?
    Which experiments show the highest lift in key metrics?

'''

'\n2. Conversion Metrics per Experiment\n    How do clicks, add-to-cart actions, and completed purchases differ by experiment and version?\n    Are there large discrepancies in conversion rates across versions?\n    Which experiments show the highest lift in key metrics?\n\n'

In [1557]:
# How do clicks, add-to-cart actions, and completed purchases differ by experiment and version?
agg_df.groupby(["experiment_id", "Experiment Version"])[["Total clickedProduct", "Total added to cart", "Total completed Purchases"]].sum()

'''
(One sentence **per experiment**, focused on *difference between A vs B*.)
**Overall framing sentence (optional, before bullets):**
> User actions (clicks, add-to-cart, and purchases) vary meaningfully between A and B across experiments, indicating behavioral impact rather 
than uniform performance.
**Per-experiment one-liners:**

* **Experiment 1:** Version A drove more clicks and purchases, while Version B slightly outperformed in add-to-cart actions.
* **Experiment 2:** Version B clearly outperformed Version A across all three metrics—clicks, add-to-cart, and purchases.
* **Experiment 3:** Version A generated more clicks, but Version B converted substantially better with higher completed purchases.
* **Experiment 4:** Version A led in clicks and add-to-cart actions, while Version B produced significantly more purchases.
* **Experiment 5:** Version B showed stronger engagement (more clicks and carts), but Version A resulted in more completed purchases.
* **Experiment 6:** Version A consistently outperformed Version B in clicks and purchases, with equal add-to-cart activity.
* **Experiment 7:** Version A drove more clicks, but Version B converted better with notably higher purchases.
* **Experiment 8:** Version A led in clicks, while Version B achieved higher completed purchases with equal cart additions.

If you want, next we can:
* Convert these into **conversion rates** (CTR, cart rate, purchase rate), or
* Identify **which experiments show the strongest lift** (the real winner slide).
'''

'\n(One sentence **per experiment**, focused on *difference between A vs B*.)\n**Overall framing sentence (optional, before bullets):**\n> User actions (clicks, add-to-cart, and purchases) vary meaningfully between A and B across experiments, indicating behavioral impact rather \nthan uniform performance.\n**Per-experiment one-liners:**\n\n* **Experiment 1:** Version A drove more clicks and purchases, while Version B slightly outperformed in add-to-cart actions.\n* **Experiment 2:** Version B clearly outperformed Version A across all three metrics—clicks, add-to-cart, and purchases.\n* **Experiment 3:** Version A generated more clicks, but Version B converted substantially better with higher completed purchases.\n* **Experiment 4:** Version A led in clicks and add-to-cart actions, while Version B produced significantly more purchases.\n* **Experiment 5:** Version B showed stronger engagement (more clicks and carts), but Version A resulted in more completed purchases.\n* **Experiment 6:** Version A consistently outperformed Version B in clicks and purchases, with equal add-to-cart activity.\n* **Experiment 7:** Version A drove more clicks, but Version B converted better with notably higher purchases.\n* **Experiment 8:** Version A led in clicks, while Version B achieved higher completed purchases with equal cart additions.\n\nIf you want, next we can:\n* Convert these into **conversion rates** (CTR, cart rate, purchase rate), or\n* Identify **which experiments show the strongest lift** (the real winner slide).\n'

In [1558]:
# Are there large discrepancies in conversion rates across versions?

agg_df.groupby(["experiment_id", "Experiment Version"])[["effect_on_conv"]].mean()

'''

### One-liner finding (what this tells us)

> **There are *no discrepancies* in conversion impact between Version A and B within any experiment — 
the average `effect_on_conv` is identical for both versions across all experiments.**
---
BUT BUT BUT DOES this mean A and B Performed identically/same in Reality?

### Why this happened (important, but simple)
This result **does not mean** A and B performed the same in reality.

It means:
* `effect_on_conv` is **already a pre-computed experiment-level metric**
* That value is **constant for all rows belonging to the same experiment**
* When you take a `mean()` by **experiment × version**, you’re averaging the *same number*, so A and B end up identical
---
In short:
> **You grouped a column that does not vary by version — so the mean can’t differ.**
---
This naturally leads to the next step:
**Compute conversion rates from raw behavior metrics**
(e.g., purchases ÷ sessions or purchases ÷ users)
---

### How you should phrase this in README / EDA (recommended)
> *The precomputed `effect_on_conv` metric does not vary by experiment version, 
indicating it is stored at the experiment level rather than the variant level. 
Therefore, version-level conversion differences will be calculated directly from user behavior metrics in the next analysis step.*

'''

'\n\n### One-liner finding (what this tells us)\n\n> **There are *no discrepancies* in conversion impact between Version A and B within any experiment — \nthe average `effect_on_conv` is identical for both versions across all experiments.**\n---\nBUT BUT BUT DOES this mean A and B Performed identically/same in Reality?\n\n### Why this happened (important, but simple)\nThis result **does not mean** A and B performed the same in reality.\n\nIt means:\n* `effect_on_conv` is **already a pre-computed experiment-level metric**\n* That value is **constant for all rows belonging to the same experiment**\n* When you take a `mean()` by **experiment × version**, you’re averaging the *same number*, so A and B end up identical\n---\nIn short:\n> **You grouped a column that does not vary by version — so the mean can’t differ.**\n---\nThis naturally leads to the next step:\n**Compute conversion rates from raw behavior metrics**\n(e.g., purchases ÷ sessions or purchases ÷ users)\n---\n\n### How you should phrase this in README / EDA (recommended)\n> *The precomputed `effect_on_conv` metric does not vary by experiment version, \nindicating it is stored at the experiment level rather than the variant level. \nTherefore, version-level conversion differences will be calculated directly from user behavior metrics in the next analysis step.*\n\n'

In [1559]:
'''
Primary behavioral metrics (MOST important)

These vary by user × version, so they can reveal real A/B differences:

Total Sessions → denominator for most rates
Total clickedProduct → click-through behavior
Total added to cart → mid-funnel intent
Total completed Purchases → core conversion metric
Total Orders(Total Order IDs) → order-level confirmation
Total Order_Value → revenue impact
Total Profit → business impact (best for recommendations)

'''

'\nPrimary behavioral metrics (MOST important)\n\nThese vary by user × version, so they can reveal real A/B differences:\n\nTotal Sessions → denominator for most rates\nTotal clickedProduct → click-through behavior\nTotal added to cart → mid-funnel intent\nTotal completed Purchases → core conversion metric\nTotal Orders(Total Order IDs) → order-level confirmation\nTotal Order_Value → revenue impact\nTotal Profit → business impact (best for recommendations)\n\n'

In [1560]:
# Click-through Behaviour 
agg_df["Click-through_Behaviour"] = agg_df["Total clickedProduct"]/agg_df["Total Sessions"]

In [1561]:
agg_df.groupby(["experiment_id", "Experiment Version"])[["Click-through_Behaviour"]].mean()

'''
One-liner findings (use these in README / notes)

Experiment 1 & 2: Version B shows higher click-through rates than A, indicating improved engagement.
Experiment 3, 4, 7, 8: Version A slightly outperforms B, suggesting the change may reduce initial clicks.
Experiment 6: Click-through rates are nearly identical, implying no meaningful impact.
Overall: Click-through performance varies by experiment, reinforcing the need to evaluate 
each UI change independently rather than assuming global uplift.


What this answers (clearly)

✔ How do clicks differ by experiment and version?
✔ Are there visible engagement differences pre-testing?
X Does not yet prove significance → that’s next phase.
'''

'\nOne-liner findings (use these in README / notes)\n\nExperiment 1 & 2: Version B shows higher click-through rates than A, indicating improved engagement.\nExperiment 3, 4, 7, 8: Version A slightly outperforms B, suggesting the change may reduce initial clicks.\nExperiment 6: Click-through rates are nearly identical, implying no meaningful impact.\nOverall: Click-through performance varies by experiment, reinforcing the need to evaluate \neach UI change independently rather than assuming global uplift.\n\n\nWhat this answers (clearly)\n\n✔ How do clicks differ by experiment and version?\n✔ Are there visible engagement differences pre-testing?\nX Does not yet prove significance → that’s next phase.\n'

In [1562]:
'''
FUNNEL-ANALYSIS (VERSION A | B) BREAKDOWN:

Click-through = interest
Add-to-cart = intent
Purchase = commitment
'''

'\nFUNNEL-ANALYSIS (VERSION A | B) BREAKDOWN:\n\nClick-through = interest\nAdd-to-cart = intent\nPurchase = commitment\n'

In [1563]:
# Total added to cart → mid-funnel intent

agg_df["Add_to_cart Rate"] = agg_df["Total added to cart"]/agg_df["Total Sessions"]

In [1564]:
agg_df.groupby(["experiment_id", "Experiment Version"])[["Add_to_cart Rate"]].mean()

'''
One-liner findings (copy-paste ready)
Experiments 1, 2, 5, 6, 7, and 8: Version B shows higher add-to-cart rates, suggesting stronger purchase intent.
Experiments 3 and 4: Version A outperforms B, indicating the tested change may reduce cart intent.
Experiment 5: Shows a notably large uplift in Version B, making it a strong candidate for further validation.
Overall: Mid-funnel behavior varies by experiment, reinforcing that UI changes impact intent differently across tests.
'''

'\nOne-liner findings (copy-paste ready)\nExperiments 1, 2, 5, 6, 7, and 8: Version B shows higher add-to-cart rates, suggesting stronger purchase intent.\nExperiments 3 and 4: Version A outperforms B, indicating the tested change may reduce cart intent.\nExperiment 5: Shows a notably large uplift in Version B, making it a strong candidate for further validation.\nOverall: Mid-funnel behavior varies by experiment, reinforcing that UI changes impact intent differently across tests.\n'

In [1565]:
# Completed Purchase Ratio - as in during this Experiment (at the version level - A or B)
# For this we will again create a new column

agg_df["Conversion_Rate(Cmpltd_Pur-Ratio)"] = agg_df["Total completed Purchases"]/agg_df["Total Sessions"]

In [1566]:
agg_df.groupby(["experiment_id", "Experiment Version"])[["Conversion_Rate(Cmpltd_Pur-Ratio)"]].mean()

                                  Conversion_Rate(Cmpltd_Pur-Ratio)
experiment_id Experiment Version
1             A                                            0.195652
              B                                            0.181818
2             A                                            0.144578
              B                                            0.214286
3             A                                            0.076923
              B                                            0.235294
4             A                                            0.151786
              B                                            0.242857
5             A                                            0.182927
              B                                            0.122449
6             A                                            0.185185
              B                                            0.153846
7             A                                            0.173913
              B                                            0.269663
8             A                                            0.137255
              B                                            0.216495

In [1567]:
'''
FUNNEL-ANALYSIS (VERSION A | B) BREAKDOWN:
Click-through = interest
Add-to-cart = intent
Purchase = commitment
'''
#1. Click-through Behaviour 
#2. Total added to cart → mid-funnel intent
#3. Completed Purchase Ratio - as in during this Experiment (at the version level - A or B)

'\nFUNNEL-ANALYSIS (VERSION A | B) BREAKDOWN:\nClick-through = interest\nAdd-to-cart = intent\nPurchase = commitment\n'

In [1568]:
agg_df.groupby(["experiment_id", "Experiment Version"]).apply(lambda x: pd.Series(
    {"Click-through_Behaviour": x["Total clickedProduct"].sum()/x["Total Sessions"].sum(),
     "Add_to_cart Rate": x["Total added to cart"].sum()/x["Total Sessions"].sum(),
     "Conversion_Rate(Cmpltd_Pur-Ratio)": x["Total completed Purchases"].sum()/x["Total Sessions"].sum()
}))

C:\Users\shona\AppData\Local\Temp\ipykernel_11440\3072665503.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  agg_df.groupby(["experiment_id", "Experiment Version"]).apply(lambda x: pd.Series(

                                  Click-through_Behaviour  Add_to_cart Rate  \
experiment_id Experiment Version
1             A                                  0.347458          0.067797
              B                                  0.388889          0.100000
2             A                                  0.321429          0.071429
              B                                  0.407080          0.079646
3             A                                  0.349057          0.047170
              B                                  0.317647          0.035294
4             A                                  0.412281          0.122807
              B                                  0.377358          0.103774
5             A                                  0.256098          0.024390
              B                                  0.316327          0.071429
6             A                                  0.305556          0.055556
              B                                  0.304348          0.065217
7             A                                  0.333333          0.043011
              B                                  0.303371          0.056180
8             A                                  0.378641          0.097087
              B                                  0.340206          0.103093

                                  Conversion_Rate(Cmpltd_Pur-Ratio)
experiment_id Experiment Version
1             A                                            0.194915
              B                                            0.177778
2             A                                            0.142857
              B                                            0.212389
3             A                                            0.075472
              B                                            0.235294
4             A                                            0.149123
              B                                            0.245283
5             A                                            0.182927
              B                                            0.122449
6             A                                            0.185185
              B                                            0.152174
7             A                                            0.172043
              B                                            0.269663
8             A                                            0.135922
              B                                            0.216495

In [1569]:
'''
FINDING AND INSIGHT 
---

### **1️⃣ Click-through Behaviour (Top-of-Funnel)**

* This measures how often users click on products per session.
* Observations:

  * **Highest CTRs**: Experiment 4A (0.412) and Experiment 2B (0.407). Users are more engaged here.
  * **Lowest CTRs**: Experiment 5A (0.256) and Experiment 6A/B (~0.305), meaning these experiments got fewer clicks relative to sessions.
  * Some experiments show **version B performing better** (e.g., 1B vs 1A, 2B vs 2A), while others show A better (4A vs 4B).

**Insight:** Certain versions (like 2B and 4A) are better at attracting initial user interest.

---

### **2️⃣ Add-to-Cart Rate (Mid-Funnel)**

* Measures how many clicks turn into adding products to cart.
* Observations:

  * **Highest Add-to-Cart Rates**: 4A (0.123), 1B (0.1), 2B (0.08). These are good at mid-funnel conversion.
  * **Lowest**: 5A (0.024), 3B (0.035), indicating weak mid-funnel performance.
  * Version B generally **outperforms A** in mid-funnel for many experiments (e.g., 1, 2, 5).

**Insight:** Version B seems more effective at nudging users to consider a purchase (add-to-cart), except for some experiments like 4.

---

### **3️⃣ Completed Purchase Ratio (Bottom-of-Funnel / Conversion)**

* Measures actual purchase completions per session.
* Observations:

  * **Highest Conversion Ratios**: 7B (0.27), 4B (0.245), 3B (0.235) — these versions successfully convert mid-funnel activity into purchases.
  * **Lowest Conversion Ratios**: 8A (0.136), 3A (0.075) — even if CTR is decent, they fail to convert.
  * Version B generally **outperforms A** for the bottom-of-funnel metric (7B, 3B, 4B).

**Insight:** Version B tends to do better at actual conversion for most experiments, even if top-of-funnel clicks are sometimes higher in version A.

---

### **Overall Patterns**

1. **Top-of-Funnel vs Bottom-of-Funnel**:

   * High CTR does **not always** mean high conversion. E.g., 3A has decent clicks (0.349) but low purchases (0.075).
   * Some experiments have better **bottom-funnel performance** even with lower CTR, like 3B.

2. **Version A vs B**:

   * Version B often drives **higher add-to-cart and conversion rates**, even if version A has higher clicks.

3. **Key Experiments to Highlight for Optimization**:

   * **Experiment 2**: B version boosts both CTR and conversion.
   * **Experiment 4**: A version drives clicks, B drives conversions → could combine insights.
   * **Experiment 7**: B version performs significantly better in conversion (0.27 vs 0.17).

---

If you want, I can **write a concise “Insights & Recommendations” section** suitable for your slides/README using only **1-page format**, summarizing which experiments & versions perform best and where to optimize.

Do you want me to do that next?

'''

'\nFINDING AND INSIGHT \n---\n\n### **1️⃣ Click-through Behaviour (Top-of-Funnel)**\n\n* This measures how often users click on products per session.\n* Observations:\n\n  * **Highest CTRs**: Experiment 4A (0.412) and Experiment 2B (0.407). Users are more engaged here.\n  * **Lowest CTRs**: Experiment 5A (0.256) and Experiment 6A/B (~0.305), meaning these experiments got fewer clicks relative to sessions.\n  * Some experiments show **version B performing better** (e.g., 1B vs 1A, 2B vs 2A), while others show A better (4A vs 4B).\n\n**Insight:** Certain versions (like 2B and 4A) are better at attracting initial user interest.\n\n---\n\n### **2️⃣ Add-to-Cart Rate (Mid-Funnel)**\n\n* Measures how many clicks turn into adding products to cart.\n* Observations:\n\n  * **Highest Add-to-Cart Rates**: 4A (0.123), 1B (0.1), 2B (0.08). These are good at mid-funnel conversion.\n  * **Lowest**: 5A (0.024), 3B (0.035), indicating weak mid-funnel performance.\n  * Version B generally **outperforms A** in mid-funnel for many experiments (e.g., 1, 2, 5).\n\n**Insight:** Version B seems more effective at nudging users to consider a purchase (add-to-cart), except for some experiments like 4.\n\n---\n\n### **3️⃣ Completed Purchase Ratio (Bottom-of-Funnel / Conversion)**\n\n* Measures actual purchase completions per session.\n* Observations:\n\n  * **Highest Conversion Ratios**: 7B (0.27), 4B (0.245), 3B (0.235) — these versions successfully convert mid-funnel activity into purchases.\n  * **Lowest Conversion Ratios**: 8A (0.136), 3A (0.075) — even if CTR is decent, they fail to convert.\n  * Version B generally **outperforms A** for the bottom-of-funnel metric (7B, 3B, 4B).\n\n**Insight:** Version B tends to do better at actual conversion for most experiments, even if top-of-funnel clicks are sometimes higher in version A.\n\n---\n\n### **Overall Patterns**\n\n1. **Top-of-Funnel vs Bottom-of-Funnel**:\n\n   * High CTR does **not always** mean high conversion. E.g., 3A has decent clicks (0.349) but low purchases (0.075).\n   * Some experiments have better **bottom-funnel performance** even with lower CTR, like 3B.\n\n2. **Version A vs B**:\n\n   * Version B often drives **higher add-to-cart and conversion rates**, even if version A has higher clicks.\n\n3. **Key Experiments to Highlight for Optimization**:\n\n   * **Experiment 2**: B version boosts both CTR and conversion.\n   * **Experiment 4**: A version drives clicks, B drives conversions → could combine insights.\n   * **Experiment 7**: B version performs significantly better in conversion (0.27 vs 0.17).\n\n---\n\nIf you want, I can **write a concise “Insights & Recommendations” section** suitable for your slides/README using only **1-page format**, summarizing which experiments & versions perform best and where to optimize.\n\nDo you want me to do that next?\n\n'

In [1570]:
# Click-through
agg_df["Click-through_Behaviour"] = agg_df.groupby(
    ["experiment_id", "Experiment Version"]
)["Total clickedProduct"].transform("sum") / agg_df.groupby(
    ["experiment_id", "Experiment Version"]
)["Total Sessions"].transform("sum")

# Add-to-cart
agg_df["Add_to_cart Rate"] = agg_df.groupby(
    ["experiment_id", "Experiment Version"]
)["Total added to cart"].transform("sum") / agg_df.groupby(
    ["experiment_id", "Experiment Version"]
)["Total Sessions"].transform("sum")

# Completed purchases
agg_df["Conversion_Rate(Cmpltd_Pur-Ratio)"] = agg_df.groupby(
    ["experiment_id", "Experiment Version"]
)["Total completed Purchases"].transform("sum") / agg_df.groupby(
    ["experiment_id", "Experiment Version"]
)["Total Sessions"].transform("sum")

In [1571]:
agg_df

,experiment_id,element_tested,Experiment Version,user_id,customer_name,signup_date,country,city,state,postal_code,...,Total Pages Viewed,Total Orders(Total Order IDs),Total Order_Value,Total Profit,start_date,end_date,effect_on_conv,Click-through_Behaviour,Add_to_cart Rate,Conversion_Rate(Cmpltd_Pur-Ratio)
0,1,UrgencyBanner,A,51,Max Harris,2021-03-11,United States,Dallas,North Carolina,57356,...,3.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
1,1,UrgencyBanner,A,79,Alex Lee,2019-11-19,United States,San Antonio,Georgia,69557,...,5.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
2,1,UrgencyBanner,A,115,Max Johnson,2023-06-22,United States,Houston,Ohio,66247,...,7.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
3,1,UrgencyBanner,A,133,Pat Robinson,2018-03-03,United States,Phoenix,California,68408,...,4.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
4,1,UrgencyBanner,A,309,Jess Jackson,2021-02-09,United States,Dallas,New York,23285,...,2.0,1,364.08,43.12,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,8,TrustBadge,B,7529,Cameron Brown,2018-04-07,United States,Dallas,California,19565,...,7.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1559,8,TrustBadge,B,7643,Jess Thomas,2019-09-10,United States,Austin,Texas,24583,...,6.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1560,8,TrustBadge,B,7671,Alex Thomas,2020-03-08,United States,Austin,Georgia,44759,...,7.0,1,301.76,25.83,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1561,8,TrustBadge,B,7706,Skyler White,2023-02-10,United States,San Diego,New York,84824,...,5.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1562,8,TrustBadge,B,7911,Avery Martinez,2018-01-17,United States,Chicago,Georgia,84761,...,9.0,1,26.11,3.79,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495

In [1572]:
'''
 Highest lift experiments & versions

User Behavior
 Avg pages viewed per session (by experiment/version)
 Session frequency patterns vs conversion
 Correlation: engagement → conversion

Customer Segmentation
 Country/city/signup-date patterns vs conversion
 Segment-specific experiment response
 High-value or discount-sensitive segments

Temporal Trends
 Conversion trends by signup/session date
 Early vs late exposure behavior

Event-Level Insights
 Sessions with clicks but no add-to-cart/purchase (%)
 Drop-off patterns (Click → Add-to-cart → Purchase) by experiment

Outlier Detection & Data Quality
 Extreme values in pages/orders/order value
 Inconsistent session data (purchase recorded but no order, etc.)
'''

'\n Highest lift experiments & versions\n\nUser Behavior\n Avg pages viewed per session (by experiment/version)\n Session frequency patterns vs conversion\n Correlation: engagement → conversion\n\nCustomer Segmentation\n Country/city/signup-date patterns vs conversion\n Segment-specific experiment response\n High-value or discount-sensitive segments\n\nTemporal Trends\n Conversion trends by signup/session date\n Early vs late exposure behavior\n\nEvent-Level Insights\n Sessions with clicks but no add-to-cart/purchase (%)\n Drop-off patterns (Click → Add-to-cart → Purchase) by experiment\n\nOutlier Detection & Data Quality\n Extreme values in pages/orders/order value\n Inconsistent session data (purchase recorded but no order, etc.)\n'

In [1573]:
behaviour = agg_df.groupby(["experiment_id", "Experiment Version"])[["Click-through_Behaviour"]]

behaviour.describe()

                                 Click-through_Behaviour            \
                                                   count      mean
experiment_id Experiment Version
1             A                                    115.0  0.347458
              B                                     88.0  0.388889
2             A                                     83.0  0.321429
              B                                    112.0  0.407080
3             A                                    104.0  0.349057
              B                                     85.0  0.317647
4             A                                    112.0  0.412281
              B                                    105.0  0.377358
5             A                                     82.0  0.256098
              B                                     98.0  0.316327
6             A                                    108.0  0.305556
              B                                     91.0  0.304348
7             A                                     92.0  0.333333
              B                                     89.0  0.303371
8             A                                    102.0  0.378641
              B                                     97.0  0.340206

                                                                              \
                                           std       min       25%       50%
experiment_id Experiment Version
1             A                   5.575409e-17  0.347458  0.347458  0.347458
              B                   0.000000e+00  0.388889  0.388889  0.388889
2             A                   1.116972e-16  0.321429  0.321429  0.321429
              B                   1.115213e-16  0.407080  0.407080  0.407080
3             A                   0.000000e+00  0.349057  0.349057  0.349057
              B                   1.116812e-16  0.317647  0.317647  0.317647
4             A                   1.115213e-16  0.412281  0.412281  0.412281
              B                   5.577739e-17  0.377358  0.377358  0.377358
5             A                   0.000000e+00  0.256098  0.256098  0.256098
              B                   0.000000e+00  0.316327  0.316327  0.316327
6             A                   0.000000e+00  0.305556  0.305556  0.305556
              B                   0.000000e+00  0.304348  0.304348  0.304348
7             A                   0.000000e+00  0.333333  0.333333  0.333333
              B                   0.000000e+00  0.303371  0.303371  0.303371
8             A                   0.000000e+00  0.378641  0.378641  0.378641
              B                   5.579952e-17  0.340206  0.340206  0.340206


                                       75%       max
experiment_id Experiment Version
1             A                   0.347458  0.347458
              B                   0.388889  0.388889
2             A                   0.321429  0.321429
              B                   0.407080  0.407080
3             A                   0.349057  0.349057
              B                   0.317647  0.317647
4             A                   0.412281  0.412281
              B                   0.377358  0.377358
5             A                   0.256098  0.256098
              B                   0.316327  0.316327
6             A                   0.305556  0.305556
              B                   0.304348  0.304348
7             A                   0.333333  0.333333
              B                   0.303371  0.303371
8             A                   0.378641  0.378641
              B                   0.340206  0.340206

In [1574]:
# USING .pivot() function in Python 
'''
Syntax and Parameters
The basic syntax is df.pivot(index=None, columns=None, values=None). 
index: The column(s) to use to make the new DataFrame's index (row labels). If not specified, the existing index is used.
columns: The column(s) to use to make the new DataFrame's columns. Each unique value in this column becomes a new column header.
values: The column(s) to populate the new frame's values (cell values). If not specified, all remaining columns will be used. 
'''

"\nSyntax and Parameters\nThe basic syntax is df.pivot(index=None, columns=None, values=None). \nindex: The column(s) to use to make the new DataFrame's index (row labels). If not specified, the existing index is used.\ncolumns: The column(s) to use to make the new DataFrame's columns. Each unique value in this column becomes a new column header.\nvalues: The column(s) to populate the new frame's values (cell values). If not specified, all remaining columns will be used. \n"

In [1575]:
# SO rmemeber we want the difference between A and B for all 3 metrics --> click-through behaviour, add to cart actions, purchases completion

agg_df

,experiment_id,element_tested,Experiment Version,user_id,customer_name,signup_date,country,city,state,postal_code,...,Total Pages Viewed,Total Orders(Total Order IDs),Total Order_Value,Total Profit,start_date,end_date,effect_on_conv,Click-through_Behaviour,Add_to_cart Rate,Conversion_Rate(Cmpltd_Pur-Ratio)
0,1,UrgencyBanner,A,51,Max Harris,2021-03-11,United States,Dallas,North Carolina,57356,...,3.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
1,1,UrgencyBanner,A,79,Alex Lee,2019-11-19,United States,San Antonio,Georgia,69557,...,5.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
2,1,UrgencyBanner,A,115,Max Johnson,2023-06-22,United States,Houston,Ohio,66247,...,7.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
3,1,UrgencyBanner,A,133,Pat Robinson,2018-03-03,United States,Phoenix,California,68408,...,4.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
4,1,UrgencyBanner,A,309,Jess Jackson,2021-02-09,United States,Dallas,New York,23285,...,2.0,1,364.08,43.12,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,8,TrustBadge,B,7529,Cameron Brown,2018-04-07,United States,Dallas,California,19565,...,7.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1559,8,TrustBadge,B,7643,Jess Thomas,2019-09-10,United States,Austin,Texas,24583,...,6.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1560,8,TrustBadge,B,7671,Alex Thomas,2020-03-08,United States,Austin,Georgia,44759,...,7.0,1,301.76,25.83,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1561,8,TrustBadge,B,7706,Skyler White,2023-02-10,United States,San Diego,New York,84824,...,5.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1562,8,TrustBadge,B,7911,Avery Martinez,2018-01-17,United States,Chicago,Georgia,84761,...,9.0,1,26.11,3.79,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495

In [1576]:
click_TBeh = agg_df.pivot_table(index="experiment_id", columns="Experiment Version", values="Click-through_Behaviour")

In [1577]:
click_TBeh.describe()

Experiment Version         A         B
count               8.000000  8.000000
mean                0.337981  0.344403
std                 0.046962  0.041063
min                 0.256098  0.303371
25%                 0.317460  0.313332
50%                 0.340395  0.328927
75%                 0.356453  0.380241
max                 0.412281  0.407080

In [1578]:
'''
Key takeaways:
Mean
A mean CTR: 0.33798
B mean CTR: 0.34440
 On average, B performs slightly better than A on CTR across experiments.

Std (variation across experiments)
A: 0.04696
B: 0.04106
 CTR performance is fairly consistent across experiments for both versions.

Min / Max
Worst A CTR: 0.256 
Best A CTR: 0.412
Worst B CTR: 0.303
Best B CTR: 0.407
 Some experiments favor A, others favor B → this is important.

What this answers vs what it does NOT
 This DOES answer:
“Overall, is B better than A on average for CTR?”
→ Slightly yes
“How variable is CTR performance across experiments?”
→ Not wildly volatile

X This does NOT answer:
Which specific experiments had the biggest improvement?
How large is the improvement per experiment?
Is the lift meaningful or just noise?

For that, we must compute lift. '''

'\nKey takeaways:\nMean\nA mean CTR: 0.33798\nB mean CTR: 0.34440\n On average, B performs slightly better than A on CTR across experiments.\n\nStd (variation across experiments)\nA: 0.04696\nB: 0.04106\n CTR performance is fairly consistent across experiments for both versions.\n\nMin / Max\nWorst A CTR: 0.256 \nBest A CTR: 0.412\nWorst B CTR: 0.303\nBest B CTR: 0.407\n Some experiments favor A, others favor B → this is important.\n\nWhat this answers vs what it does NOT\n This DOES answer:\n“Overall, is B better than A on average for CTR?”\n→ Slightly yes\n“How variable is CTR performance across experiments?”\n→ Not wildly volatile\n\nX This does NOT answer:\nWhich specific experiments had the biggest improvement?\nHow large is the improvement per experiment?\nIs the lift meaningful or just noise?\n\nFor that, we must compute lift. '

In [1579]:
'''
Lift percentage measures the incremental impact or improvement of a change (like an ad campaign or new feature) 
compared to a baseline or control group, showing the percentage increase in desired actions (conversions, searches, etc.).
It Answers: "How much better did the new version perform than the old one?" by calculating 

Lift % FORMULA:
(New Rate - Old Rate) / Old Rate 

revealing the true effect beyond random chance or existing demand. 
'''

'\nLift percentage measures the incremental impact or improvement of a change (like an ad campaign or new feature) \ncompared to a baseline or control group, showing the percentage increase in desired actions (conversions, searches, etc.).\nIt Answers: "How much better did the new version perform than the old one?" by calculating \n\nLift % FORMULA:\n(New Rate - Old Rate) / Old Rate \n\nrevealing the true effect beyond random chance or existing demand. \n'

In [1580]:
# SO Since we have the mean vlaues and also the min/max values for experiment A and B WE KNOW THIS:
# Worst A CTR: 0.256 | Best A CTR: 0.412 --> The best value for A here is obviously greater than B BUT the worst value for B is much lesser than A 
# Worst B CTR: 0.303 | Best B CTR: 0.407 
# Mean CTR: 0.33798 | B mean CTR: 0.34440 --> OVERALL (avg/mean wise) B performs better than A when it comes to Click-Through behaviour

click_TBeh["Click_TBeh_Lift%"] = ((click_TBeh["B"]  - click_TBeh["A"])/click_TBeh["A"])*100

In [1581]:
click_TBeh

Experiment Version         A         B  Click_TBeh_Lift%
experiment_id
1                   0.347458  0.388889         11.924119
2                   0.321429  0.407080         26.647001
3                   0.349057  0.317647         -8.998410
4                   0.412281  0.377358         -8.470494
5                   0.256098  0.316327         23.517979
6                   0.305556  0.304348         -0.395257
7                   0.333333  0.303371         -8.988764
8                   0.378641  0.340206        -10.150674

In [1582]:
click_TBeh.sort_values("Click_TBeh_Lift%", ascending=False)

Experiment Version         A         B  Click_TBeh_Lift%
experiment_id
2                   0.321429  0.407080         26.647001
5                   0.256098  0.316327         23.517979
1                   0.347458  0.388889         11.924119
6                   0.305556  0.304348         -0.395257
4                   0.412281  0.377358         -8.470494
7                   0.333333  0.303371         -8.988764
3                   0.349057  0.317647         -8.998410
8                   0.378641  0.340206        -10.150674

In [1583]:
'''
Version B does not consistently outperform Version A across all experiments.
Although the overall mean CTR of Version B is slightly higher than Version A, lift analysis shows mixed results at the experiment level.

Only 3 out of 8 experiments show strong positive CTR lift for Version B.
Experiments 2 (+26.6%), 5 (+23.5%), and 1 (+11.9%) demonstrate meaningful improvements, indicating that Version B can significantly increase 
engagement in specific contexts.

Half of the experiments experienced neutral or negative lift.
Experiments 3, 4, 7, and 8 show CTR declines between −8% to −10%, suggesting that Version B may reduce engagement under certain conditions.

CTR performance is highly context-dependent rather than universally improved by Version B.
This indicates that experiment design, user segment, or traffic source likely influences whether Version B is effective.

Relying only on average CTR would have hidden these risks.
Lift-based comparison provides a more accurate evaluation of experiment impact and prevents misleading conclusions from aggregate metrics alone.
'''

'\nVersion B does not consistently outperform Version A across all experiments.\nAlthough the overall mean CTR of Version B is slightly higher than Version A, lift analysis shows mixed results at the experiment level.\n\nOnly 3 out of 8 experiments show strong positive CTR lift for Version B.\nExperiments 2 (+26.6%), 5 (+23.5%), and 1 (+11.9%) demonstrate meaningful improvements, indicating that Version B can significantly increase \nengagement in specific contexts.\n\nHalf of the experiments experienced neutral or negative lift.\nExperiments 3, 4, 7, and 8 show CTR declines between −8% to −10%, suggesting that Version B may reduce engagement under certain conditions.\n\nCTR performance is highly context-dependent rather than universally improved by Version B.\nThis indicates that experiment design, user segment, or traffic source likely influences whether Version B is effective.\n\nRelying only on average CTR would have hidden these risks.\nLift-based comparison provides a more accurate evaluation of experiment impact and prevents misleading conclusions from aggregate metrics alone.\n'

In [1584]:
agg_df

,experiment_id,element_tested,Experiment Version,user_id,customer_name,signup_date,country,city,state,postal_code,...,Total Pages Viewed,Total Orders(Total Order IDs),Total Order_Value,Total Profit,start_date,end_date,effect_on_conv,Click-through_Behaviour,Add_to_cart Rate,Conversion_Rate(Cmpltd_Pur-Ratio)
0,1,UrgencyBanner,A,51,Max Harris,2021-03-11,United States,Dallas,North Carolina,57356,...,3.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
1,1,UrgencyBanner,A,79,Alex Lee,2019-11-19,United States,San Antonio,Georgia,69557,...,5.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
2,1,UrgencyBanner,A,115,Max Johnson,2023-06-22,United States,Houston,Ohio,66247,...,7.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
3,1,UrgencyBanner,A,133,Pat Robinson,2018-03-03,United States,Phoenix,California,68408,...,4.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
4,1,UrgencyBanner,A,309,Jess Jackson,2021-02-09,United States,Dallas,New York,23285,...,2.0,1,364.08,43.12,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,8,TrustBadge,B,7529,Cameron Brown,2018-04-07,United States,Dallas,California,19565,...,7.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1559,8,TrustBadge,B,7643,Jess Thomas,2019-09-10,United States,Austin,Texas,24583,...,6.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1560,8,TrustBadge,B,7671,Alex Thomas,2020-03-08,United States,Austin,Georgia,44759,...,7.0,1,301.76,25.83,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1561,8,TrustBadge,B,7706,Skyler White,2023-02-10,United States,San Diego,New York,84824,...,5.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1562,8,TrustBadge,B,7911,Avery Martinez,2018-01-17,United States,Chicago,Georgia,84761,...,9.0,1,26.11,3.79,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495

In [1585]:
Add_To_C = agg_df.pivot_table(index="experiment_id", columns="Experiment Version", values="Add_to_cart Rate")

Add_To_C.describe()

Experiment Version         A         B
count               8.000000  8.000000
mean                0.066156  0.076829
std                 0.031509  0.024716
min                 0.024390  0.035294
25%                 0.046130  0.062958
50%                 0.061676  0.075537
75%                 0.077843  0.100773
max                 0.122807  0.103774

In [1586]:
'''
Lift % FORMULA:
((New Rate - Old Rate) / Old Rate) *100 '''

Add_To_C["Add_To_C_Lift%"] = ((Add_To_C["B"] - Add_To_C["A"])/Add_To_C["A"])*100

Add_To_C

Experiment Version         A         B  Add_To_C_Lift%
experiment_id
1                   0.067797  0.100000       47.500000
2                   0.071429  0.079646       11.504425
3                   0.047170  0.035294      -25.176471
4                   0.122807  0.103774      -15.498652
5                   0.024390  0.071429      192.857143
6                   0.055556  0.065217       17.391304
7                   0.043011  0.056180       30.617978
8                   0.097087  0.103093        6.185567

In [1587]:
agg_df

,experiment_id,element_tested,Experiment Version,user_id,customer_name,signup_date,country,city,state,postal_code,...,Total Pages Viewed,Total Orders(Total Order IDs),Total Order_Value,Total Profit,start_date,end_date,effect_on_conv,Click-through_Behaviour,Add_to_cart Rate,Conversion_Rate(Cmpltd_Pur-Ratio)
0,1,UrgencyBanner,A,51,Max Harris,2021-03-11,United States,Dallas,North Carolina,57356,...,3.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
1,1,UrgencyBanner,A,79,Alex Lee,2019-11-19,United States,San Antonio,Georgia,69557,...,5.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
2,1,UrgencyBanner,A,115,Max Johnson,2023-06-22,United States,Houston,Ohio,66247,...,7.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
3,1,UrgencyBanner,A,133,Pat Robinson,2018-03-03,United States,Phoenix,California,68408,...,4.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
4,1,UrgencyBanner,A,309,Jess Jackson,2021-02-09,United States,Dallas,New York,23285,...,2.0,1,364.08,43.12,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,8,TrustBadge,B,7529,Cameron Brown,2018-04-07,United States,Dallas,California,19565,...,7.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1559,8,TrustBadge,B,7643,Jess Thomas,2019-09-10,United States,Austin,Texas,24583,...,6.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1560,8,TrustBadge,B,7671,Alex Thomas,2020-03-08,United States,Austin,Georgia,44759,...,7.0,1,301.76,25.83,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1561,8,TrustBadge,B,7706,Skyler White,2023-02-10,United States,San Diego,New York,84824,...,5.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1562,8,TrustBadge,B,7911,Avery Martinez,2018-01-17,United States,Chicago,Georgia,84761,...,9.0,1,26.11,3.79,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495

In [1588]:
Cmplt_Pur = agg_df.pivot_table(index="experiment_id", columns="Experiment Version", values="Conversion_Rate(Cmpltd_Pur-Ratio)")

Cmplt_Pur.describe()

Experiment Version         A         B
count               8.000000  8.000000
mean                0.154806  0.203941
std                 0.038629  0.049636
min                 0.075472  0.122449
25%                 0.141123  0.171377
50%                 0.160583  0.214442
75%                 0.183491  0.237791
max                 0.194915  0.269663

In [1589]:
'''
Lift % FORMULA:
((New Rate - Old Rate) / Old Rate) *100 '''

Cmplt_Pur["Cmplt_Pur_Lift%"] = ((Cmplt_Pur["B"] - Cmplt_Pur["A"])/ Cmplt_Pur["A"])*100

Cmplt_Pur

Experiment Version         A         B  Cmplt_Pur_Lift%
experiment_id
1                   0.194915  0.177778        -8.792271
2                   0.142857  0.212389        48.672566
3                   0.075472  0.235294       211.764706
4                   0.149123  0.245283        64.483907
5                   0.182927  0.122449       -33.061224
6                   0.185185  0.152174       -17.826087
7                   0.172043  0.269663        56.741573
8                   0.135922  0.216495        59.278351

In [1590]:
''' 
Key Experiment Insights (Across Funnel):
Completed Purchase is the primary decision metric, as it directly reflects revenue impact.
Version B shows higher average completed purchase rates compared to Version A across experiments.
5 out of 8 experiments show strong positive lift in completed purchases, indicating B often converts better buyers.
Some experiments show negative CTR or Add-to-Cart lift but positive purchase lift, suggesting quality of traffic improved, not just volume.
Click behavior alone is insufficient — several experiments with lower CTR still resulted in higher final conversions.
Add-to-Cart lift acts as a mid-funnel diagnostic, helping explain why certain experiments succeed or fail.
Overall, Version B demonstrates stronger bottom-line performance, even when early-funnel metrics are mixed.
'''

' \nKey Experiment Insights (Across Funnel):\nCompleted Purchase is the primary decision metric, as it directly reflects revenue impact.\nVersion B shows higher average completed purchase rates compared to Version A across experiments.\n5 out of 8 experiments show strong positive lift in completed purchases, indicating B often converts better buyers.\nSome experiments show negative CTR or Add-to-Cart lift but positive purchase lift, suggesting quality of traffic improved, not just volume.\nClick behavior alone is insufficient — several experiments with lower CTR still resulted in higher final conversions.\nAdd-to-Cart lift acts as a mid-funnel diagnostic, helping explain why certain experiments succeed or fail.\nOverall, Version B demonstrates stronger bottom-line performance, even when early-funnel metrics are mixed.\n'

In [1591]:
# SO WE HAD all of this BELOW - BUT did not fit the TEST narrative - so decided on only 2 important ones 
'''
 Highest lift experiments & versions

User Behavior
 Avg pages viewed per session (by experiment/version)
 Session frequency patterns vs conversion
 Correlation: engagement → conversion

Customer Segmentation
 Country/city/signup-date patterns vs conversion
 Segment-specific experiment response
 High-value or discount-sensitive segments

Temporal Trends
 Conversion trends by signup/session date
 Early vs late exposure behavior

Event-Level Insights
 Sessions with clicks but no add-to-cart/purchase (%)
 Drop-off patterns (Click → Add-to-cart → Purchase) by experiment

Outlier Detection & Data Quality
 Extreme values in pages/orders/order value
 Inconsistent session data (purchase recorded but no order, etc.)
'''

'\n Highest lift experiments & versions\n\nUser Behavior\n Avg pages viewed per session (by experiment/version)\n Session frequency patterns vs conversion\n Correlation: engagement → conversion\n\nCustomer Segmentation\n Country/city/signup-date patterns vs conversion\n Segment-specific experiment response\n High-value or discount-sensitive segments\n\nTemporal Trends\n Conversion trends by signup/session date\n Early vs late exposure behavior\n\nEvent-Level Insights\n Sessions with clicks but no add-to-cart/purchase (%)\n Drop-off patterns (Click → Add-to-cart → Purchase) by experiment\n\nOutlier Detection & Data Quality\n Extreme values in pages/orders/order value\n Inconsistent session data (purchase recorded but no order, etc.)\n'

In [1592]:
'''
EDA 5 — Funnel Drop-Off Analysis

(Answer these, then STOP)

Funnel Entry
How many sessions enter the funnel in Control vs Variant?
Does Variant increase or decrease funnel entry rate?

Step-by-Step Drop-Off
What % of users go from Session → Product View (A vs B)?
What % of users go from Product View → Add to Cart (A vs B)?
What % of users go from Add to Cart → Checkout (A vs B)?
What % of users go from Checkout → Purchase (A vs B)?

Drop-Off Comparison
At which step is the largest drop-off overall?
At which step is the largest difference between A and B?
Is Variant B better, worse, or neutral at each step?

Funnel Outcome
What % of sessions end in a purchase (A vs B)?
Is overall funnel completion higher in Variant B?

Sanity Checks
Does Variant B improve early steps but hurt later steps?
Are improvements consistent across the full funnel?

 Stop here. That’s EDA 5.
'''

'\nEDA 5 — Funnel Drop-Off Analysis\n\n(Answer these, then STOP)\n\nFunnel Entry\nHow many sessions enter the funnel in Control vs Variant?\nDoes Variant increase or decrease funnel entry rate?\n\nStep-by-Step Drop-Off\nWhat % of users go from Session → Product View (A vs B)?\nWhat % of users go from Product View → Add to Cart (A vs B)?\nWhat % of users go from Add to Cart → Checkout (A vs B)?\nWhat % of users go from Checkout → Purchase (A vs B)?\n\nDrop-Off Comparison\nAt which step is the largest drop-off overall?\nAt which step is the largest difference between A and B?\nIs Variant B better, worse, or neutral at each step?\n\nFunnel Outcome\nWhat % of sessions end in a purchase (A vs B)?\nIs overall funnel completion higher in Variant B?\n\nSanity Checks\nDoes Variant B improve early steps but hurt later steps?\nAre improvements consistent across the full funnel?\n\n Stop here. That’s EDA 5.\n'

In [1593]:
'''
Funnel Entry
How many sessions enter the funnel in Control vs Variant?
Does Variant increase or decrease funnel entry rate?
'''

c:\My Projects\Python_30\my_venv\Lib\site-packages\IPython\core\displayhook.py:292: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

'\nFunnel Entry\nHow many sessions enter the funnel in Control vs Variant?\nDoes Variant increase or decrease funnel entry rate?\n'

In [1594]:
'''
EDA 5 — Funnel Drop-Off
(Where do people quit?)

Imagine someone comes to the website.

We’re asking:
How many people came to the site?
How many actually looked at a product?
How many added something to cart?
How many went to checkout?
How many actually bought?

Now compare Group A vs Group B.
That’s it.

What are we REALLY looking for?
At which step do most people leave?
Does Group B lose fewer people at any step?

Does Group B:

Help people add to cart?
Help people finish checkout?
Or does Group B help early but mess things up later?

Example (plain English):
“More people in B add items to cart, but many of them quit at checkout.”

That’s a real finding.
'''

'\nEDA 5 — Funnel Drop-Off\n(Where do people quit?)\n\nImagine someone comes to the website.\n\nWe’re asking:\nHow many people came to the site?\nHow many actually looked at a product?\nHow many added something to cart?\nHow many went to checkout?\nHow many actually bought?\n\nNow compare Group A vs Group B.\nThat’s it.\n\nWhat are we REALLY looking for?\nAt which step do most people leave?\nDoes Group B lose fewer people at any step?\n\nDoes Group B:\n\nHelp people add to cart?\nHelp people finish checkout?\nOr does Group B help early but mess things up later?\n\nExample (plain English):\n“More people in B add items to cart, but many of them quit at checkout.”\n\nThat’s a real finding.\n'

In [1595]:
'''
EDA 5 — Funnel Drop-Off
(Where do people quit?)

Imagine someone comes to the website.

We’re asking:
How many people came to the site?
How many actually looked at a product?
How many added something to cart?
How many went to checkout?
How many actually bought?
'''

'\nEDA 5 — Funnel Drop-Off\n(Where do people quit?)\n\nImagine someone comes to the website.\n\nWe’re asking:\nHow many people came to the site?\nHow many actually looked at a product?\nHow many added something to cart?\nHow many went to checkout?\nHow many actually bought?\n'

In [1596]:
Came_to_site = agg_df[agg_df["Total Pages Viewed"] > 0]

visited_site = (Came_to_site.groupby(["experiment_id", "element_tested", "Experiment Version"])["user_id"].nunique().reset_index(name="users_count"))
# NOT .count() ---> .nunique()

visited_site

    experiment_id     element_tested Experiment Version  users_count
0               1      UrgencyBanner                  A          115
1               1      UrgencyBanner                  B           88
2               2         PriceCharm                  A           83
3               2         PriceCharm                  B          112
4               3         TrustBadge                  A          104
5               3         TrustBadge                  B           85
6               4      UrgencyBanner                  A          112
7               4      UrgencyBanner                  B          105
8               5  FreeShippingBadge                  A           82
9               5  FreeShippingBadge                  B           98
10              6         PriceCharm                  A          108
11              6         PriceCharm                  B           91
12              7  FreeShippingBadge                  A           92
13              7  FreeShippingBadge                  B           89
14              8         TrustBadge                  A          102
15              8         TrustBadge                  B           97

In [1597]:
# What does this ---> .reset_index(name="users_count") ---> line do? and what is it important for?

'''Why this line is IMPORTANT

Without it:
Column has no name
Merging later becomes painful
README tables look messy
Plots break

With it:
Clean dataframe
Easy merges
Clear meaning '''

'Why this line is IMPORTANT\n\nWithout it:\nColumn has no name\nMerging later becomes painful\nREADME tables look messy\nPlots break\n\nWith it:\nClean dataframe\nEasy merges\nClear meaning '

In [1598]:
'''EDA 5 — Funnel Step 1: Site Visit

(Users who came to the site, Total Pages Viewed > 0)

Key Insights
All experiments have a good baseline of site visitors, ranging roughly 82–115 users per variant.
Site visit counts differ slightly between Control (A) and Variant (B):
Some experiments have more visitors in A (e.g., UrgencyBanner, Exp 1 → 115 vs 88)
Others have more in B (e.g., PriceCharm, Exp 2 → 112 vs 83)
Differences reflect traffic allocation, not experiment impact.
This step establishes the denominator for all downstream funnel metrics (product view, add-to-cart, purchase).

Interpretation Notes
Site visits do not measure conversion or engagement beyond arrival.
Differences in visitor counts are normal; focus is on later funnel steps for performance evaluation.

Methodology (1-liner for README)
A site visit is defined as any user with Total Pages Viewed > 0, as there is no explicit session_start event in the dataset.'''

'EDA 5 — Funnel Step 1: Site Visit\n\n(Users who came to the site, Total Pages Viewed > 0)\n\nKey Insights\nAll experiments have a good baseline of site visitors, ranging roughly 82–115 users per variant.\nSite visit counts differ slightly between Control (A) and Variant (B):\nSome experiments have more visitors in A (e.g., UrgencyBanner, Exp 1 → 115 vs 88)\nOthers have more in B (e.g., PriceCharm, Exp 2 → 112 vs 83)\nDifferences reflect traffic allocation, not experiment impact.\nThis step establishes the denominator for all downstream funnel metrics (product view, add-to-cart, purchase).\n\nInterpretation Notes\nSite visits do not measure conversion or engagement beyond arrival.\nDifferences in visitor counts are normal; focus is on later funnel steps for performance evaluation.\n\nMethodology (1-liner for README)\nA site visit is defined as any user with Total Pages Viewed > 0, as there is no explicit session_start event in the dataset.'

In [1599]:
agg_df.columns

Index(['experiment_id', 'element_tested', 'Experiment Version', 'user_id',
       'customer_name', 'signup_date', 'country', 'city', 'state',
       'postal_code', 'Total Sessions', 'Total clickedProduct',
       'Total added to cart', 'Total completed Purchases',
       'Total Pages Viewed', 'Total Orders(Total Order IDs)',
       'Total Order_Value', 'Total Profit', 'start_date', 'end_date',
       'effect_on_conv', 'Click-through_Behaviour', 'Add_to_cart Rate',
       'Conversion_Rate(Cmpltd_Pur-Ratio)'],
      dtype='object')

In [1600]:
pd.reset_option('display.max_columns')

In [1601]:
agg_df.columns

Index(['experiment_id', 'element_tested', 'Experiment Version', 'user_id',
       'customer_name', 'signup_date', 'country', 'city', 'state',
       'postal_code', 'Total Sessions', 'Total clickedProduct',
       'Total added to cart', 'Total completed Purchases',
       'Total Pages Viewed', 'Total Orders(Total Order IDs)',
       'Total Order_Value', 'Total Profit', 'start_date', 'end_date',
       'effect_on_conv', 'Click-through_Behaviour', 'Add_to_cart Rate',
       'Conversion_Rate(Cmpltd_Pur-Ratio)'],
      dtype='object')

In [1602]:
agg_df["Total clickedProduct"]

0       0
1       1
2       0
3       1
4       1
       ..
1558    0
1559    0
1560    1
1561    0
1562    0
Name: Total clickedProduct, Length: 1563, dtype: int64

In [1603]:
agg_df["Total clickedProduct"].describe()

count    1563.000000
mean        0.347409
std         0.481646
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         2.000000
Name: Total clickedProduct, dtype: float64

In [1604]:
# How many actually looked at a product?
click_OnProd = agg_df[agg_df["Total clickedProduct"] > 0]

Lookd_Prod = (click_OnProd.groupby(["experiment_id", "element_tested", "Experiment Version"])["user_id"].nunique().reset_index(name="user_count"))

Lookd_Prod

    experiment_id     element_tested Experiment Version  user_count
0               1      UrgencyBanner                  A          39
1               1      UrgencyBanner                  B          34
2               2         PriceCharm                  A          27
3               2         PriceCharm                  B          46
4               3         TrustBadge                  A          36
5               3         TrustBadge                  B          27
6               4      UrgencyBanner                  A          47
7               4      UrgencyBanner                  B          40
8               5  FreeShippingBadge                  A          21
9               5  FreeShippingBadge                  B          31
10              6         PriceCharm                  A          33
11              6         PriceCharm                  B          28
12              7  FreeShippingBadge                  A          31
13              7  FreeShippingBadge                  B          27
14              8         TrustBadge                  A          39
15              8         TrustBadge                  B          33

In [1605]:
'''
EDA 5 — Funnel Step 2: Product View
(Users who clicked at least one product)

Key Insights
Only a subset of site visitors actually click to view a product.
Example: In Experiment 1 (UrgencyBanner), Version A → 39 users, Version B → 34 users.

Variant effects vary by experiment:
Some Variants (like PriceCharm B) increase product views compared to Control.
Others (like TrustBadge B) decrease product views compared to Control.
Step 2 shows early engagement differences, before cart or purchase.
These numbers will serve as the denominator for the next funnel step: Add to Cart.

Interpretation Notes
Product view = interest/engagement, not purchase intent.
Higher or lower counts here indicate whether the experiment attracts attention, not whether it converts.

Methodology
Product view is defined as any user with Total clickedProduct > 0.
'''

'\nEDA 5 — Funnel Step 2: Product View\n(Users who clicked at least one product)\n\nKey Insights\nOnly a subset of site visitors actually click to view a product.\nExample: In Experiment 1 (UrgencyBanner), Version A → 39 users, Version B → 34 users.\n\nVariant effects vary by experiment:\nSome Variants (like PriceCharm B) increase product views compared to Control.\nOthers (like TrustBadge B) decrease product views compared to Control.\nStep 2 shows early engagement differences, before cart or purchase.\nThese numbers will serve as the denominator for the next funnel step: Add to Cart.\n\nInterpretation Notes\nProduct view = interest/engagement, not purchase intent.\nHigher or lower counts here indicate whether the experiment attracts attention, not whether it converts.\n\nMethodology\nProduct view is defined as any user with Total clickedProduct > 0.\n'

In [1606]:
'''
We’re asking:
How many people came to the site? DONE
How many actually looked at a product? DONE
How many added something to cart?
How many went to checkout?
How many actually bought? 
'''

'\nWe’re asking:\nHow many people came to the site? DONE\nHow many actually looked at a product? DONE\nHow many added something to cart?\nHow many went to checkout?\nHow many actually bought? \n'

In [1607]:
# How many added something to cart?

agg_df.columns # IMPORTANT column ---> 'Total added to cart'

Index(['experiment_id', 'element_tested', 'Experiment Version', 'user_id',
       'customer_name', 'signup_date', 'country', 'city', 'state',
       'postal_code', 'Total Sessions', 'Total clickedProduct',
       'Total added to cart', 'Total completed Purchases',
       'Total Pages Viewed', 'Total Orders(Total Order IDs)',
       'Total Order_Value', 'Total Profit', 'start_date', 'end_date',
       'effect_on_conv', 'Click-through_Behaviour', 'Add_to_cart Rate',
       'Conversion_Rate(Cmpltd_Pur-Ratio)'],
      dtype='object')

In [1608]:
# How many added something to cart?
agg_df["Total added to cart"].describe() # SO the max is 1 - so jsut in case anything greater than 0

count    1563.000000
mean        0.073576
std         0.261164
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Total added to cart, dtype: float64

In [1609]:
# How many added something to cart?
added_toC = agg_df[agg_df["Total added to cart"] > 0]

total_add_toC = (added_toC.groupby(["experiment_id", "element_tested", "Experiment Version"])["user_id"].nunique().reset_index(name="user_COUNT"))
total_add_toC

    experiment_id     element_tested Experiment Version  user_COUNT
0               1      UrgencyBanner                  A           8
1               1      UrgencyBanner                  B           9
2               2         PriceCharm                  A           6
3               2         PriceCharm                  B           9
4               3         TrustBadge                  A           5
5               3         TrustBadge                  B           3
6               4      UrgencyBanner                  A          14
7               4      UrgencyBanner                  B          11
8               5  FreeShippingBadge                  A           2
9               5  FreeShippingBadge                  B           7
10              6         PriceCharm                  A           6
11              6         PriceCharm                  B           6
12              7  FreeShippingBadge                  A           4
13              7  FreeShippingBadge                  B           5
14              8         TrustBadge                  A          10
15              8         TrustBadge                  B          10

In [1610]:
'''
EDA 5 — Funnel Step: Add to Cart
(Users who added at least one item to cart)

What this step means (plain English)
These users liked a product enough to click “Add to Cart”
This is the first real buying signal
Big drop here = people are browsing but not committing

Key Insights
Add-to-cart numbers are very low across all experiments
Mostly between 2–14 users per variant
This is expected but highlights a major drop-off from site visits

Variant B improves add-to-cart in some experiments:
Exp 1 – UrgencyBanner: B (9) > A (8)
Exp 2 – PriceCharm: B (9) > A (6)
Exp 5 – FreeShippingBadge: B (7) > A (2) → strong relative lift
Exp 7 – FreeShippingBadge: B (5) > A (4)

Variant A performs better in a few cases:
Exp 3 – TrustBadge: A (5) > B (3)
Exp 4 – UrgencyBanner: A (14) > B (11)
Some experiments show no difference
Exp 6 – PriceCharm: A = B (6)
Exp 8 – TrustBadge: A = B (10)

Big Picture Takeaway
Most users never reach add-to-cart, even after visiting the site.
FreeShippingBadge (Variant B) shows the clearest improvement at this stage.
Effects are directional, not final conclusions — sample sizes are small.

Methodology (1 line for README)
Add to cart is defined as users with Total added to cart > 0, counted as unique users per experiment variant. '''

'\nEDA 5 — Funnel Step: Add to Cart\n(Users who added at least one item to cart)\n\nWhat this step means (plain English)\nThese users liked a product enough to click “Add to Cart”\nThis is the first real buying signal\nBig drop here = people are browsing but not committing\n\nKey Insights\nAdd-to-cart numbers are very low across all experiments\nMostly between 2–14 users per variant\nThis is expected but highlights a major drop-off from site visits\n\nVariant B improves add-to-cart in some experiments:\nExp 1 – UrgencyBanner: B (9) > A (8)\nExp 2 – PriceCharm: B (9) > A (6)\nExp 5 – FreeShippingBadge: B (7) > A (2) → strong relative lift\nExp 7 – FreeShippingBadge: B (5) > A (4)\n\nVariant A performs better in a few cases:\nExp 3 – TrustBadge: A (5) > B (3)\nExp 4 – UrgencyBanner: A (14) > B (11)\nSome experiments show no difference\nExp 6 – PriceCharm: A = B (6)\nExp 8 – TrustBadge: A = B (10)\n\nBig Picture Takeaway\nMost users never reach add-to-cart, even after visiting the site.\nFreeShippingBadge (Variant B) shows the clearest improvement at this stage.\nEffects are directional, not final conclusions — sample sizes are small.\n\nMethodology (1 line for README)\nAdd to cart is defined as users with Total added to cart > 0, counted as unique users per experiment variant. '

In [1611]:
agg_df.columns

Index(['experiment_id', 'element_tested', 'Experiment Version', 'user_id',
       'customer_name', 'signup_date', 'country', 'city', 'state',
       'postal_code', 'Total Sessions', 'Total clickedProduct',
       'Total added to cart', 'Total completed Purchases',
       'Total Pages Viewed', 'Total Orders(Total Order IDs)',
       'Total Order_Value', 'Total Profit', 'start_date', 'end_date',
       'effect_on_conv', 'Click-through_Behaviour', 'Add_to_cart Rate',
       'Conversion_Rate(Cmpltd_Pur-Ratio)'],
      dtype='object')

In [1612]:
'''How many went to checkout? -- NO COLUMN related to this 

Checkout Step Limitation
The dataset does not contain an explicit checkout-start event (e.g., checkout page views or payment initiation). 
As a result, checkout behavior could not be analyzed as a separate funnel step. 
The funnel therefore progresses directly from Add to Cart to Completed Purchase.
'''

'How many went to checkout? -- NO COLUMN related to this \n\nCheckout Step Limitation\nThe dataset does not contain an explicit checkout-start event (e.g., checkout page views or payment initiation). \nAs a result, checkout behavior could not be analyzed as a separate funnel step. \nThe funnel therefore progresses directly from Add to Cart to Completed Purchase.\n'

In [1613]:
# How many actually bought? 

Total_ComplPur = agg_df[agg_df["Total completed Purchases"] > 0]

Total_Bought = Total_ComplPur.groupby(["experiment_id", "element_tested", "Experiment Version"])["user_id"].nunique().reset_index(name="users_COUNT")

Total_Bought

    experiment_id     element_tested Experiment Version  users_COUNT
0               1      UrgencyBanner                  A           23
1               1      UrgencyBanner                  B           16
2               2         PriceCharm                  A           12
3               2         PriceCharm                  B           24
4               3         TrustBadge                  A            8
5               3         TrustBadge                  B           20
6               4      UrgencyBanner                  A           17
7               4      UrgencyBanner                  B           26
8               5  FreeShippingBadge                  A           15
9               5  FreeShippingBadge                  B           12
10              6         PriceCharm                  A           20
11              6         PriceCharm                  B           14
12              7  FreeShippingBadge                  A           16
13              7  FreeShippingBadge                  B           24
14              8         TrustBadge                  A           14
15              8         TrustBadge                  B           21

In [ ]:
# INSIGHT FOR FINAL EDA 5

'''
Perfect — this is **exactly** the final funnel table we needed.
Now I’ll give you **clear, README-ready insights** for **“How many actually bought?”** based *only* on this output (no assumptions, no fluff).

---

## 🔚 Funnel Step: Purchase Completion — Key Insights

### Overall pattern

* **Purchase behavior meaningfully differs between Version A and B across experiments**, 
indicating that UI elements can strongly influence final conversion — not just clicks.

---

## 🧪 Experiment-wise Insights

### **Experiment 1 — UrgencyBanner**

* **Version A outperformed B** (23 vs 16 buyers)
* Indicates urgency messaging here may **work better in its original form**
* Suggests Version B possibly introduced friction or reduced trust

---

### **Experiment 2 — PriceCharm**

* **Version B massively outperformed A** (24 vs 12 buyers)
* One of the **strongest positive uplifts** across all experiments
* Clear signal that **pricing presentation significantly impacts purchase decisions**

📌 *This is a high-confidence winner candidate*

---

### **Experiment 3 — TrustBadge**

* **Version B strongly outperformed A** (20 vs 8 buyers)
* Nearly **2.5× more buyers** in B
* Suggests redesigned or repositioned trust signals meaningfully reduce purchase hesitation

📌 *Trust elements matter most at checkout-decision stage*

---

### **Experiment 4 — UrgencyBanner**

* **Version B outperformed A** (26 vs 17 buyers)
* Opposite outcome vs Experiment 1
* Indicates **context or implementation matters more than the element itself**

📌 *Urgency is not universally positive — execution matters*

---

### **Experiment 5 — FreeShippingBadge**

* **Version A slightly outperformed B** (15 vs 12 buyers)
* Indicates B version may not have communicated value clearly
* Free shipping alone may not be a strong purchase driver here

---

### **Experiment 6 — PriceCharm**

* **Version A outperformed B** (20 vs 14 buyers)
* Contrasts with Experiment 2
* Suggests **pricing charm effectiveness varies by context, audience, or product mix**

---

### **Experiment 7 — FreeShippingBadge**

* **Version B significantly outperformed A** (24 vs 16 buyers)
* Indicates **badge placement or wording can materially impact checkout behavior**

---

### **Experiment 8 — TrustBadge**

* **Version B outperformed A** (21 vs 14 buyers)
* Consistent with Experiment 3
* Reinforces that **trust reinforcement near purchase is highly effective**

---

## 📌 Cross-Experiment Takeaways (README gold)

* **TrustBadge (Version B)** shows **consistent positive impact** on purchase completion
* **PriceCharm results are mixed**, suggesting sensitivity to implementation details
* **Urgency elements show inconsistent results**, indicating potential overuse or trust trade-offs
* **FreeShippingBadge effectiveness depends on presentation**, not presence alone

---

## What this sets up next (don’t do yet)

Next step is **conversion rates**, not raw counts:

* Add-to-Cart → Purchase conversion
* Visited → Purchase conversion

That’s where we quantify **real lift** and decide winners statistically.

---

You’re officially done with **funnel counts** 
Ping me when you’re ready to **merge all funnel steps into one table** or move to **EDA 6 / statistical testing**.

'''

'\nPerfect — this is **exactly** the final funnel table we needed.\nNow I’ll give you **clear, README-ready insights** for **“How many actually bought?”** based *only* on this output (no assumptions, no fluff).\n\n---\n\n## 🔚 Funnel Step: Purchase Completion — Key Insights\n\n### Overall pattern\n\n* **Purchase behavior meaningfully differs between Version A and B across experiments**, \nindicating that UI elements can strongly influence final conversion — not just clicks.\n\n---\n\n## 🧪 Experiment-wise Insights\n\n### **Experiment 1 — UrgencyBanner**\n\n* **Version A outperformed B** (23 vs 16 buyers)\n* Indicates urgency messaging here may **work better in its original form**\n* Suggests Version B possibly introduced friction or reduced trust\n\n---\n\n### **Experiment 2 — PriceCharm**\n\n* **Version B massively outperformed A** (24 vs 12 buyers)\n* One of the **strongest positive uplifts** across all experiments\n* Clear signal that **pricing presentation significantly impacts purchase decisions**\n\n📌 *This is a high-confidence winner candidate*\n\n---\n\n### **Experiment 3 — TrustBadge**\n\n* **Version B strongly outperformed A** (20 vs 8 buyers)\n* Nearly **2.5× more buyers** in B\n* Suggests redesigned or repositioned trust signals meaningfully reduce purchase hesitation\n\n📌 *Trust elements matter most at checkout-decision stage*\n\n---\n\n### **Experiment 4 — UrgencyBanner**\n\n* **Version B outperformed A** (26 vs 17 buyers)\n* Opposite outcome vs Experiment 1\n* Indicates **context or implementation matters more than the element itself**\n\n📌 *Urgency is not universally positive — execution matters*\n\n---\n\n### **Experiment 5 — FreeShippingBadge**\n\n* **Version A slightly outperformed B** (15 vs 12 buyers)\n* Indicates B version may not have communicated value clearly\n* Free shipping alone may not be a strong purchase driver here\n\n---\n\n### **Experiment 6 — PriceCharm**\n\n* **Version A outperformed B** (20 vs 14 buyers)\n* Contrasts with Experiment 2\n* Suggests **pricing charm effectiveness varies by context, audience, or product mix**\n\n---\n\n### **Experiment 7 — FreeShippingBadge**\n\n* **Version B significantly outperformed A** (24 vs 16 buyers)\n* Indicates **badge placement or wording can materially impact checkout behavior**\n\n---\n\n### **Experiment 8 — TrustBadge**\n\n* **Version B outperformed A** (21 vs 14 buyers)\n* Consistent with Experiment 3\n* Reinforces that **trust reinforcement near purchase is highly effective**\n\n---\n\n## 📌 Cross-Experiment Takeaways (README gold)\n\n* **TrustBadge (Version B)** shows **consistent positive impact** on purchase completion\n* **PriceCharm results are mixed**, suggesting sensitivity to implementation details\n* **Urgency elements show inconsistent results**, indicating potential overuse or trust trade-offs\n* **FreeShippingBadge effectiveness depends on presentation**, not presence alone\n\n---\n\n## What this sets up next (don’t do yet)\n\nNext step is **conversion rates**, not raw counts:\n\n* Add-to-Cart → Purchase conversion\n* Visited → Purchase conversion\n\nThat’s where we quantify **real lift** and decide winners statistically.\n\n---\n\nYou’re officially done with **funnel counts** ✅\nPing me when you’re ready to **merge all funnel steps into one table** or move to **EDA 6 / statistical testing**.\n\n'

In [1615]:
# WHY was Completed Purchase much higher for each expeirment - THAN the Add to Cart? 
# Like HOW is it possible to complete purchase without adding to cart?

In [ ]:
'''
You’re **NOT tripping**.
Your instinct is 100% correct — *in a clean, real-world funnel*, this **should not happen**.

Let’s break it down **very simply**, no business jargon.

---

## What *should* logically happen

Normally, the order is:

```
Visit site
→ View product
→ Add to cart
→ Checkout
→ Purchase
```

So logically:

> **#Add-to-Cart users ≥ #Purchase users**

But in **your data**, you’re seeing:

> **Purchases > Add-to-Cart**

That means the dataset **does NOT track the funnel cleanly**.

---

## Why this happens (VERY common in simulated / event-based data)

###  Reason 1 (Most likely): **Add-to-cart is under-tracked**

Some purchases are logged **without logging the add-to-cart event**.

Example:

* User buys directly from:

  * “Buy Now” button
  * Quick checkout
  * Saved cart from previous session
  * One-click purchase

 Purchase event fires
 Add-to-cart event never fires

---

###  Reason 2: **Aggregated user-level data hides sequence**

Your table is **user-level totals**, not event order.

Example:

* User added to cart **last week**
* Purchased **this week**
* Your aggregation shows:

  * `Total added to cart = 0`
  * `Total completed purchases = 1`

 Funnel order looks broken even though it wasn’t

---

###  Reason 3: **Session mismatch**

* Add-to-cart may have happened in a session **outside the experiment window**
* Purchase happened **inside** the window

 Only purchase shows up

---

###  What it is NOT

*  You did NOT code anything wrong
*  `.nunique()` is correct
*  Your logic is sound
*  This is NOT a Pandas issue

This is a **data-generation / logging issue**, not an analysis mistake.

---

## How to explain this cleanly in your README (copy-paste safe)

> *“Due to event-level limitations in the dataset, some users record completed purchases without a corresponding add-to-cart event. This can occur due to direct checkout flows, prior-session cart persistence, or incomplete event tracking. As a result, funnel steps are treated as independent behavioral signals rather than a strict sequential path.”*

That sentence alone = **senior-level awareness**.

---

## What WE do going forward (important)

For this project:

* Treat funnel steps as **independent engagement indicators**
* **Do NOT force** add-to-cart → purchase dependency
* Conversion rate =
  **Purchases / Visitors**, not Purchases / Add-to-Cart

This keeps your analysis **honest and defensible**.

---
'''

'\nYou’re **NOT tripping**.\nYour instinct is 100% correct — *in a clean, real-world funnel*, this **should not happen**.\n\nLet’s break it down **very simply**, no business jargon.\n\n---\n\n## What *should* logically happen\n\nNormally, the order is:\n\n```\nVisit site\n→ View product\n→ Add to cart\n→ Checkout\n→ Purchase\n```\n\nSo logically:\n\n> **#Add-to-Cart users ≥ #Purchase users**\n\nBut in **your data**, you’re seeing:\n\n> **Purchases > Add-to-Cart**\n\nThat means the dataset **does NOT track the funnel cleanly**.\n\n---\n\n## Why this happens (VERY common in simulated / event-based data)\n\n### ✅ Reason 1 (Most likely): **Add-to-cart is under-tracked**\n\nSome purchases are logged **without logging the add-to-cart event**.\n\nExample:\n\n* User buys directly from:\n\n  * “Buy Now” button\n  * Quick checkout\n  * Saved cart from previous session\n  * One-click purchase\n\n➡️ Purchase event fires\n➡️ Add-to-cart event never fires\n\n---\n\n### ✅ Reason 2: **Aggregated user-level data hides sequence**\n\nYour table is **user-level totals**, not event order.\n\nExample:\n\n* User added to cart **last week**\n* Purchased **this week**\n* Your aggregation shows:\n\n  * `Total added to cart = 0`\n  * `Total completed purchases = 1`\n\n➡️ Funnel order looks broken even though it wasn’t\n\n---\n\n### ✅ Reason 3: **Session mismatch**\n\n* Add-to-cart may have happened in a session **outside the experiment window**\n* Purchase happened **inside** the window\n\n➡️ Only purchase shows up\n\n---\n\n### ❌ What it is NOT\n\n* ❌ You did NOT code anything wrong\n* ❌ `.nunique()` is correct\n* ❌ Your logic is sound\n* ❌ This is NOT a Pandas issue\n\nThis is a **data-generation / logging issue**, not an analysis mistake.\n\n---\n\n## How to explain this cleanly in your README (copy-paste safe)\n\n> *“Due to event-level limitations in the dataset, some users record completed purchases without a corresponding add-to-cart event. This can occur due to direct checkout flows, prior-session cart persistence, or incomplete event tracking. As a result, funnel steps are treated as independent behavioral signals rather than a strict sequential path.”*\n\nThat sentence alone = **senior-level awareness**.\n\n---\n\n## What WE do going forward (important)\n\nFor this project:\n\n* Treat funnel steps as **independent engagement indicators**\n* **Do NOT force** add-to-cart → purchase dependency\n* Conversion rate =\n  **Purchases / Visitors**, not Purchases / Add-to-Cart\n\nThis keeps your analysis **honest and defensible**.\n\n---\n\n## Final verdict\n\n🧠 You caught a **real analytics issue**\n📊 Your reasoning is **correct**\n👀 This actually makes your project look **more professional**, not less\n\nWhenever you’re ready, we move on.\n'

In [1617]:
'''
So WHY do we still do .merge()?
Because groupby ≠ combine tables.

Think of it like this (real-world analogy):
You have 4 Excel sheets:
Sheet 1 → “Users who visited”
Sheet 2 → “Users who viewed product”
Sheet 3 → “Users who added to cart”
Sheet 4 → “Users who purchased”

Each sheet is already summarized by:
experiment | element | version | number

Now you want ONE sheet that looks like:
experiment | element | version | visited | viewed | added | purchased


--> merge() is just telling pandas:

“Match rows that belong to the same experiment + element + version,
and put their numbers side-by-side.”
That’s all it does. 
'''

'\nSo WHY do we still do .merge()?\nBecause groupby ≠ combine tables.\n\nThink of it like this (real-world analogy):\nYou have 4 Excel sheets:\nSheet 1 → “Users who visited”\nSheet 2 → “Users who viewed product”\nSheet 3 → “Users who added to cart”\nSheet 4 → “Users who purchased”\n\nEach sheet is already summarized by:\nexperiment | element | version | number\n\nNow you want ONE sheet that looks like:\nexperiment | element | version | visited | viewed | added | purchased\n\n\n--> merge() is just telling pandas:\n\n“Match rows that belong to the same experiment + element + version,\nand put their numbers side-by-side.”\nThat’s all it does. \n'

In [1618]:
# SO WE'RE gonna use .merege to merge our 4 tables (earlier created using .groupby()) 
# THSES 4 TABLES: visited_site | Lookd_Prod | total_add_toC | Total_Bought

visited_site  # How many Visited the WebSite - As in logged in basically 
Lookd_Prod   # How many looked at some Products - Showed some interest at least 
total_add_toC # How many actually Added Products to their Cart - Showed Intent of Buying
Total_Bought # How many actually Completed Purchase - CONVERTED Fully - Acted on their Intent, Were Serious Enough, Were

    experiment_id     element_tested Experiment Version  users_COUNT
0               1      UrgencyBanner                  A           23
1               1      UrgencyBanner                  B           16
2               2         PriceCharm                  A           12
3               2         PriceCharm                  B           24
4               3         TrustBadge                  A            8
5               3         TrustBadge                  B           20
6               4      UrgencyBanner                  A           17
7               4      UrgencyBanner                  B           26
8               5  FreeShippingBadge                  A           15
9               5  FreeShippingBadge                  B           12
10              6         PriceCharm                  A           20
11              6         PriceCharm                  B           14
12              7  FreeShippingBadge                  A           16
13              7  FreeShippingBadge                  B           24
14              8         TrustBadge                  A           14
15              8         TrustBadge                  B           21

In [1619]:
Total_Bought

    experiment_id     element_tested Experiment Version  users_COUNT
0               1      UrgencyBanner                  A           23
1               1      UrgencyBanner                  B           16
2               2         PriceCharm                  A           12
3               2         PriceCharm                  B           24
4               3         TrustBadge                  A            8
5               3         TrustBadge                  B           20
6               4      UrgencyBanner                  A           17
7               4      UrgencyBanner                  B           26
8               5  FreeShippingBadge                  A           15
9               5  FreeShippingBadge                  B           12
10              6         PriceCharm                  A           20
11              6         PriceCharm                  B           14
12              7  FreeShippingBadge                  A           16
13              7  FreeShippingBadge                  B           24
14              8         TrustBadge                  A           14
15              8         TrustBadge                  B           21

In [1620]:
'''
EDA 5 — Funnel Drop-Off
(Where do people quit?)'''

'\nEDA 5 — Funnel Drop-Off\n(Where do people quit?)'

In [1621]:
Funnel_Drop_off = visited_site.merge(Lookd_Prod,
                                      how='left', on=['experiment_id', 'element_tested', 'Experiment Version']).merge(total_add_toC, 
                                      how='left', on=['experiment_id', 'element_tested', 'Experiment Version']).merge(Total_Bought, 
                                      how='left', on=['experiment_id', 'element_tested', 'Experiment Version']).rename(
                                          columns={
                                            "users_count": "Visited_Site_Users",
                                            "user_count" : "Viewed_Product_Users",
                                            "user_COUNT" : "Added_to_Cart_Users",
                                            "users_COUNT" : "Purchased_Users"
                                          }).fillna(0) # Just in case some NA values show up in the final merged table

In [1622]:
Funnel_Drop_off

,experiment_id,element_tested,Experiment Version,Visited_Site_Users,Viewed_Product_Users,Added_to_Cart_Users,Purchased_Users
0,1,UrgencyBanner,A,115,39,8,23
1,1,UrgencyBanner,B,88,34,9,16
2,2,PriceCharm,A,83,27,6,12
3,2,PriceCharm,B,112,46,9,24
4,3,TrustBadge,A,104,36,5,8
5,3,TrustBadge,B,85,27,3,20
6,4,UrgencyBanner,A,112,47,14,17
7,4,UrgencyBanner,B,105,40,11,26
8,5,FreeShippingBadge,A,82,21,2,15
9,5,FreeShippingBadge,B,98,31,7,12
10,6,PriceCharm,A,108,33,6,20
11,6,PriceCharm,B,91,28,6,14
12,7,FreeShippingBadge,A,92,31,4,16
13,7,FreeShippingBadge,B,89,27,5,24
14,8,TrustBadge,A,102,39,10,14
15,8,TrustBadge,B,97,33,10,21

In [1623]:
# How effective is the landing experience at generating product interest?
Funnel_Drop_off["Visit_to_ViewdProd_Rate"] = (Funnel_Drop_off["Viewed_Product_Users"]/Funnel_Drop_off["Visited_Site_Users"])

# Once users are interested, how many develop purchase intent?
Funnel_Drop_off["ViewProd_to_AddCart_Rate"] = (Funnel_Drop_off["Added_to_Cart_Users"]/Funnel_Drop_off["Viewed_Product_Users"])

# How smooth is the checkout decision once intent exists?
Funnel_Drop_off["AddCart_to_Purchase_Rate"] = (Funnel_Drop_off["Purchased_Users"]/Funnel_Drop_off["Added_to_Cart_Users"])

# Which variant actually converts better overall?
Funnel_Drop_off["Visit_to_Purchase_Rate"] = (Funnel_Drop_off["Purchased_Users"]/Funnel_Drop_off["Visited_Site_Users"])

# Note: Metrics were calculated as ratios and formatted as percentages at the visualization layer for clarity.

Funnel_Drop_off

,experiment_id,element_tested,Experiment Version,Visited_Site_Users,Viewed_Product_Users,Added_to_Cart_Users,Purchased_Users,Visit_to_ViewdProd_Rate,ViewProd_to_AddCart_Rate,AddCart_to_Purchase_Rate,Visit_to_Purchase_Rate
0,1,UrgencyBanner,A,115,39,8,23,0.339130,0.205128,2.875000,0.200000
1,1,UrgencyBanner,B,88,34,9,16,0.386364,0.264706,1.777778,0.181818
2,2,PriceCharm,A,83,27,6,12,0.325301,0.222222,2.000000,0.144578
3,2,PriceCharm,B,112,46,9,24,0.410714,0.195652,2.666667,0.214286
4,3,TrustBadge,A,104,36,5,8,0.346154,0.138889,1.600000,0.076923
5,3,TrustBadge,B,85,27,3,20,0.317647,0.111111,6.666667,0.235294
6,4,UrgencyBanner,A,112,47,14,17,0.419643,0.297872,1.214286,0.151786
7,4,UrgencyBanner,B,105,40,11,26,0.380952,0.275000,2.363636,0.247619
8,5,FreeShippingBadge,A,82,21,2,15,0.256098,0.095238,7.500000,0.182927
9,5,FreeShippingBadge,B,98,31,7,12,0.316327,0.225806,1.714286,0.122449
10,6,PriceCharm,A,108,33,6,20,0.305556,0.181818,3.333333,0.185185
11,6,PriceCharm,B,91,28,6,14,0.307692,0.214286,2.333333,0.153846
12,7,FreeShippingBadge,A,92,31,4,16,0.336957,0.129032,4.000000,0.173913
13,7,FreeShippingBadge,B,89,27,5,24,0.303371,0.185185,4.800000,0.269663
14,8,TrustBadge,A,102,39,10,14,0.382353,0.256410,1.400000,0.137255
15,8,TrustBadge,B,97,33,10,21,0.340206,0.303030,2.100000,0.216495

In [1624]:
'''
INSIGHTS: 

Perfect — this is exactly the right moment to lock **EDA #5 README-ready insights**.
I’ll keep this **simple, professional, senior-level**, and aligned with your earlier assumption note.

---

## EDA #5 — Funnel Drop-Off Analysis (README Insights)

### Key Observations

* **Product interest varies meaningfully by experiment variant.**
  Visit → Product View rates generally fall between **~25% and ~42%**, indicating that landing experiences influence whether users engage with products after arriving on the site.

* **The largest drop-off consistently occurs between product view and add-to-cart.**
  View → Add-to-Cart rates are relatively low across most experiments (often **10–30%**), suggesting friction in moving users from interest to purchase intent.

* **Purchase behavior does not strictly follow a linear funnel.**
  In several experiments, the Add-to-Cart → Purchase rate exceeds 100%, indicating that some users complete purchases without a recorded add-to-cart event.
  This reinforces that funnel stages should be interpreted as **engagement signals**, not mandatory sequential steps.

* **Overall conversion performance differs clearly between variants.**
  Visit → Purchase rates range from **~8% to ~27%**, showing meaningful differences in how effectively variants drive end-to-end conversion.

* **Some variants outperform earlier in the funnel, others later.**
  Certain variants generate stronger product interest (higher Visit → View), while others show stronger final conversion (higher Visit → Purchase), highlighting that optimization opportunities differ by funnel stage.

---

### Interpretation Notes

* Due to the **simulated and aggregated nature of the dataset**, funnel metrics should not be interpreted as strict checkout steps.
* Users may purchase via direct flows (e.g., “Buy Now”), strong pre-existing intent, or paths not fully captured by add-to-cart events.
* As a result, funnel rates are best used to **compare relative performance between variants**, rather than to enforce real-world behavioral assumptions.

---

### Why These 4 Funnel Metrics Matter

These four rates answer four **business-critical questions**:

1. **Visit → View**: How effective is the landing experience at generating product interest?
2. **View → Cart**: How well does interest convert into purchase intent?
3. **Cart → Purchase**: How smooth is the final decision stage once intent exists?
4. **Visit → Purchase**: Which variant actually converts best overall?

Together, they provide a **complete, decision-oriented view** of where each experiment variant succeeds or loses users.

---

If you want, next we can:

* Condense this into **3 ultra-tight bullets for the Executive Deck**, or
* Move straight into **EDA #6 — Segment-Level Experiment Performance** (this is where the project really starts to feel 🔥).
'''

'\nINSIGHTS: \n\nPerfect — this is exactly the right moment to lock **EDA #5 README-ready insights**.\nI’ll keep this **simple, professional, senior-level**, and aligned with your earlier assumption note.\n\n---\n\n## EDA #5 — Funnel Drop-Off Analysis (README Insights)\n\n### Key Observations\n\n* **Product interest varies meaningfully by experiment variant.**\n  Visit → Product View rates generally fall between **~25% and ~42%**, indicating that landing experiences influence whether users engage with products after arriving on the site.\n\n* **The largest drop-off consistently occurs between product view and add-to-cart.**\n  View → Add-to-Cart rates are relatively low across most experiments (often **10–30%**), suggesting friction in moving users from interest to purchase intent.\n\n* **Purchase behavior does not strictly follow a linear funnel.**\n  In several experiments, the Add-to-Cart → Purchase rate exceeds 100%, indicating that some users complete purchases without a recorded add-to-cart event.\n  This reinforces that funnel stages should be interpreted as **engagement signals**, not mandatory sequential steps.\n\n* **Overall conversion performance differs clearly between variants.**\n  Visit → Purchase rates range from **~8% to ~27%**, showing meaningful differences in how effectively variants drive end-to-end conversion.\n\n* **Some variants outperform earlier in the funnel, others later.**\n  Certain variants generate stronger product interest (higher Visit → View), while others show stronger final conversion (higher Visit → Purchase), highlighting that optimization opportunities differ by funnel stage.\n\n---\n\n### Interpretation Notes\n\n* Due to the **simulated and aggregated nature of the dataset**, funnel metrics should not be interpreted as strict checkout steps.\n* Users may purchase via direct flows (e.g., “Buy Now”), strong pre-existing intent, or paths not fully captured by add-to-cart events.\n* As a result, funnel rates are best used to **compare relative performance between variants**, rather than to enforce real-world behavioral assumptions.\n\n---\n\n### Why These 4 Funnel Metrics Matter\n\nThese four rates answer four **business-critical questions**:\n\n1. **Visit → View**: How effective is the landing experience at generating product interest?\n2. **View → Cart**: How well does interest convert into purchase intent?\n3. **Cart → Purchase**: How smooth is the final decision stage once intent exists?\n4. **Visit → Purchase**: Which variant actually converts best overall?\n\nTogether, they provide a **complete, decision-oriented view** of where each experiment variant succeeds or loses users.\n\n---\n\nIf you want, next we can:\n\n* Condense this into **3 ultra-tight bullets for the Executive Deck**, or\n* Move straight into **EDA #6 — Segment-Level Experiment Performance** (this is where the project really starts to feel 🔥).\n'

In [1625]:
agg_df.columns

Index(['experiment_id', 'element_tested', 'Experiment Version', 'user_id',
       'customer_name', 'signup_date', 'country', 'city', 'state',
       'postal_code', 'Total Sessions', 'Total clickedProduct',
       'Total added to cart', 'Total completed Purchases',
       'Total Pages Viewed', 'Total Orders(Total Order IDs)',
       'Total Order_Value', 'Total Profit', 'start_date', 'end_date',
       'effect_on_conv', 'Click-through_Behaviour', 'Add_to_cart Rate',
       'Conversion_Rate(Cmpltd_Pur-Ratio)'],
      dtype='object')

In [1626]:
agg_df

,experiment_id,element_tested,Experiment Version,user_id,customer_name,signup_date,country,city,state,postal_code,...,Total Pages Viewed,Total Orders(Total Order IDs),Total Order_Value,Total Profit,start_date,end_date,effect_on_conv,Click-through_Behaviour,Add_to_cart Rate,Conversion_Rate(Cmpltd_Pur-Ratio)
0,1,UrgencyBanner,A,51,Max Harris,2021-03-11,United States,Dallas,North Carolina,57356,...,3.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
1,1,UrgencyBanner,A,79,Alex Lee,2019-11-19,United States,San Antonio,Georgia,69557,...,5.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
2,1,UrgencyBanner,A,115,Max Johnson,2023-06-22,United States,Houston,Ohio,66247,...,7.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
3,1,UrgencyBanner,A,133,Pat Robinson,2018-03-03,United States,Phoenix,California,68408,...,4.0,0,0.00,0.00,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
4,1,UrgencyBanner,A,309,Jess Jackson,2021-02-09,United States,Dallas,New York,23285,...,2.0,1,364.08,43.12,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,8,TrustBadge,B,7529,Cameron Brown,2018-04-07,United States,Dallas,California,19565,...,7.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1559,8,TrustBadge,B,7643,Jess Thomas,2019-09-10,United States,Austin,Texas,24583,...,6.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1560,8,TrustBadge,B,7671,Alex Thomas,2020-03-08,United States,Austin,Georgia,44759,...,7.0,1,301.76,25.83,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1561,8,TrustBadge,B,7706,Skyler White,2023-02-10,United States,San Diego,New York,84824,...,5.0,0,0.00,0.00,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495
1562,8,TrustBadge,B,7911,Avery Martinez,2018-01-17,United States,Chicago,Georgia,84761,...,9.0,1,26.11,3.79,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495

In [1627]:
'''
1. UrgencyBanner
What it is:
A visual message that creates time or scarcity pressure.
Examples you’ve 100% seen:
“ Only 3 left in stock”
“ Sale ends in 2 hours”
“12 people are viewing this right now”

2. PriceCharm
What it is:
A pricing tactic that makes prices feel cheaper.
Classic examples:
$9.99 instead of $10
$49.95
“From $19” instead of “$19.00”

3. FreeShippingBadge
What it is:
A badge or message highlighting free shipping.
Examples:
“Free Shipping”
“Free shipping on orders over $50”
“No delivery fees”

4. TrustBadge
What it is:
Visual elements that increase credibility & safety perception.
Examples:
“Secure Checkout”
“Trusted by 1M+ customers”
Payment logos (Visa, PayPal)
Money-back guarantee badges '''

'\n1. UrgencyBanner\nWhat it is:\nA visual message that creates time or scarcity pressure.\nExamples you’ve 100% seen:\n“ Only 3 left in stock”\n“ Sale ends in 2 hours”\n“12 people are viewing this right now”\n\n2. PriceCharm\nWhat it is:\nA pricing tactic that makes prices feel cheaper.\nClassic examples:\n$9.99 instead of $10\n$49.95\n“From $19” instead of “$19.00”\n\n3. FreeShippingBadge\nWhat it is:\nA badge or message highlighting free shipping.\nExamples:\n“Free Shipping”\n“Free shipping on orders over $50”\n“No delivery fees”\n\n4. TrustBadge\nWhat it is:\nVisual elements that increase credibility & safety perception.\nExamples:\n“Secure Checkout”\n“Trusted by 1M+ customers”\nPayment logos (Visa, PayPal)\nMoney-back guarantee badges '

In [1628]:
# EDA 6 Segment-Level Experiment Performance

In [1629]:
'''
What does “Segment-Level Experiment Performance” even mean?
Plain English
Does the experiment work better for some types of users than others? 

Step 2: What counts as a “segment”?
A segment is any meaningful way to group users so that:
Behavior differs across groups
The experiment might affect them differently
The insight is actionable

Industry rule of thumb:
If a segment doesn’t change decisions, don’t segment on it.'''

'\nWhat does “Segment-Level Experiment Performance” even mean?\nPlain English\nDoes the experiment work better for some types of users than others? \n\nStep 2: What counts as a “segment”?\nA segment is any meaningful way to group users so that:\nBehavior differs across groups\nThe experiment might affect them differently\nThe insight is actionable\n\nIndustry rule of thumb:\nIf a segment doesn’t change decisions, don’t segment on it.'

In [1630]:
# labels= ---> RULE labels are always in an ascending manner ---> Lowest to Highest

agg_df["Engagement_Level"] = pd.qcut(agg_df["Total Pages Viewed"], q=3, labels= ["Low Engagement", "Medium Engagement", "High Engagement"])

In [1631]:
agg_df.groupby(["Engagement_Level", "Experiment Version"])[["Conversion_Rate(Cmpltd_Pur-Ratio)"]].mean()

C:\Users\shona\AppData\Local\Temp\ipykernel_11440\1277511754.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agg_df.groupby(["Engagement_Level", "Experiment Version"])[["Conversion_Rate(Cmpltd_Pur-Ratio)"]].mean()

                                      Conversion_Rate(Cmpltd_Pur-Ratio)
Engagement_Level  Experiment Version
Low Engagement    A                                            0.153173
                  B                                            0.203139
Medium Engagement A                                            0.155258
                  B                                            0.207801
High Engagement   A                                            0.157375
                  B                                            0.199857

In [1632]:
agg_df["Engagement_Level"].value_counts()

Engagement_Level
Low Engagement       670
Medium Engagement    564
High Engagement      329
Name: count, dtype: int64

In [1633]:
'''
(Low - Medium - High Engagement Levels)
EDA #6 — Segment-Level Experiment Performance (Engagement Level)
- Users were segmented into Low, Medium, and High Engagement groups based on total pages viewed to understand 
  how engagement depth impacts experiment performance.

- Experiment Version B outperformed Version A across all engagement segments, indicating a consistent and 
  robust uplift rather than a segment-specific effect.

- The largest conversion lift was observed among Low and Medium Engagement users, 
  suggesting Version B is especially effective at converting users with limited browsing behavior.

- High Engagement users showed strong conversion rates in both variants, 
  but Version B still delivered a measurable improvement.

 - Overall, Version B reduces reliance on deep user exploration by enabling faster 
   and more confident purchase decisions across engagement levels.
'''

'\n(Low - Medium - High Engagement Levels)\nEDA #6 — Segment-Level Experiment Performance (Engagement Level)\n- Users were segmented into Low, Medium, and High Engagement groups based on total pages viewed to understand \n  how engagement depth impacts experiment performance.\n\n- Experiment Version B outperformed Version A across all engagement segments, indicating a consistent and \n  robust uplift rather than a segment-specific effect.\n\n- The largest conversion lift was observed among Low and Medium Engagement users, \n  suggesting Version B is especially effective at converting users with limited browsing behavior.\n\n- High Engagement users showed strong conversion rates in both variants, \n  but Version B still delivered a measurable improvement.\n\n - Overall, Version B reduces reliance on deep user exploration by enabling faster \n   and more confident purchase decisions across engagement levels.\n'

In [1634]:
agg_df.columns

Index(['experiment_id', 'element_tested', 'Experiment Version', 'user_id',
       'customer_name', 'signup_date', 'country', 'city', 'state',
       'postal_code', 'Total Sessions', 'Total clickedProduct',
       'Total added to cart', 'Total completed Purchases',
       'Total Pages Viewed', 'Total Orders(Total Order IDs)',
       'Total Order_Value', 'Total Profit', 'start_date', 'end_date',
       'effect_on_conv', 'Click-through_Behaviour', 'Add_to_cart Rate',
       'Conversion_Rate(Cmpltd_Pur-Ratio)', 'Engagement_Level'],
      dtype='object')

In [1635]:
# SO the 3 columns we'll be using are ---> 'Total clickedProduct', 'Total added to cart', 'Add_to_cart Rate'

In [1636]:
agg_df["Total clickedProduct"].describe()

count    1563.000000
mean        0.347409
std         0.481646
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         2.000000
Name: Total clickedProduct, dtype: float64

In [1637]:
'''
“Purchase intent was derived using quantile-based rankings across multiple pre-purchase signals 
(product clicks, add-to-cart actions, and add-to-cart rate) to avoid scale bias between raw counts and ratios.”
'''

'\n“Purchase intent was derived using quantile-based rankings across multiple pre-purchase signals \n(product clicks, add-to-cart actions, and add-to-cart rate) to avoid scale bias between raw counts and ratios.”\n'

In [1638]:
'''
FINAL SEGMENTATION DESIGN (LOCKED)

Segment 1 — Engagement Level
Signals (interest / exploration):
Total Pages Viewed
Total clickedProduct

Segment 2 — Purchase Intent Level
Signals (buying seriousness):
Total added to cart
Add_to_cart Rate

Outcome metric (for comparison, not segmentation):
Conversion_Rate(Cmpltd_Pur-Ratio) → we’ll take the mean, same as before.
'''

'\nFINAL SEGMENTATION DESIGN (LOCKED)\n\nSegment 1 — Engagement Level\nSignals (interest / exploration):\nTotal Pages Viewed\nTotal clickedProduct\n\nSegment 2 — Purchase Intent Level\nSignals (buying seriousness):\nTotal added to cart\nAdd_to_cart Rate\n\nOutcome metric (for comparison, not segmentation):\nConversion_Rate(Cmpltd_Pur-Ratio) → we’ll take the mean, same as before.\n'

In [1639]:
'''
Your logic:
High + High → High
Low + Low → Low
Else → Medium
'''

'\nYour logic:\nHigh + High → High\nLow + Low → Low\nElse → Medium\n'

In [1640]:
# COLUMNS WE WILL BE USING:

#   ENGAGEMENT level                  |  Purchase INTENT                    |  Purchase Conversion
# "Total Pages Viewed"                | "Total added to cart"               | "Conversion_Rate(Cmpltd_Pur-Ratio)"   
# "Total clickedProduct"              | "Add_to_cart Rate"                  |
# "Conversion_Rate(Cmpltd_Pur-Ratio)" | "Conversion_Rate(Cmpltd_Pur-Ratio)" |

In [1641]:
agg_df["Total clickedProduct"].describe()

count    1563.000000
mean        0.347409
std         0.481646
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         2.000000
Name: Total clickedProduct, dtype: float64

In [1642]:
# ENGAGEMENT LEVEL 

agg_df["PagesView_Level"] = pd.qcut(agg_df["Total Pages Viewed"], q=3, labels=["Low", "Medium", "High"])

In [1643]:
agg_df["ClickProd-Level"] = "No Clicks"

In [1644]:
mask = agg_df["Total clickedProduct"] > 0

In [1645]:
agg_df["Total clickedProduct"].describe() # SO There's clearly only 3 valeus ---> 0 1 2

count    1563.000000
mean        0.347409
std         0.481646
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         2.000000
Name: Total clickedProduct, dtype: float64

In [1646]:
agg_df.loc[agg_df["Total clickedProduct"] == 0, "ClickProd-Level"] = "Low"

agg_df.loc[agg_df["Total clickedProduct"] == 1, "ClickProd-Level"] = "Medium"

agg_df.loc[agg_df["Total clickedProduct"] == 2, "ClickProd-Level"] = "High"

In [1647]:
def combined_engagement(row):
    # If either metric is High → High
    if row["PagesView_Level"] == "High" or row["ClickProd-Level"] == "High":
        return "High"
    
    # If both metrics are Low → Low
    elif row["PagesView_Level"] == "Low" and row["ClickProd-Level"] == "Low":
        return "Low"
    
    # If one metric is Medium and the other is Low → Medium
    elif (row["PagesView_Level"] == "Medium" and row["ClickProd-Level"] == "Low") \
         or (row["PagesView_Level"] == "Low" and row["ClickProd-Level"] == "Medium"):
        return "Medium"
    
    # If both metrics are Medium → Medium (just reinforcing)
    elif row["PagesView_Level"] == "Medium" and row["ClickProd-Level"] == "Medium":
        return "Medium"
    
    # Fallback just in case
    else:
        return "Medium"

agg_df["Engagement_Level"] = agg_df.apply(combined_engagement, axis=1)

In [1648]:
agg_df["Engagement_Level"].value_counts()

Engagement_Level
Medium    793
Low       440
High      330
Name: count, dtype: int64

In [1649]:
agg_df["Total added to cart"].describe()

count    1563.000000
mean        0.073576
std         0.261164
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Total added to cart, dtype: float64

In [1650]:
agg_df["Add_to_cart Rate"].describe()

count    1563.000000
mean        0.072806
std         0.026863
min         0.024390
25%         0.055556
50%         0.071429
75%         0.100000
max         0.122807
Name: Add_to_cart Rate, dtype: float64

In [1651]:
# SO the most anyone's added is just 1 and the upper quartile of add to cart rate is more than anything more than 50% ---> 0.071429
# SO WE DO  "Add_to_cart Rate" "Total added to cart"

def purchase_intent(row):

    if row["Total added to cart"] == 1 and row["Add_to_cart Rate"] > 0.071429:
        return "High"
    
    elif row["Total added to cart"] == 0:
        return "Low"
    
    else:
        return "Medium"


agg_df["Purchase_Intent_Level"] = agg_df.apply(purchase_intent, axis= 1)

In [1652]:
agg_df["Purchase_Intent_Level"].value_counts()

Purchase_Intent_Level
Low       1448
High        63
Medium      52
Name: count, dtype: int64

In [1653]:
Final_Conversion_Table = (agg_df.groupby(["Engagement_Level", "Purchase_Intent_Level", "Experiment Version", "element_tested"], as_index=False).agg(
    avg_Converion = ("Conversion_Rate(Cmpltd_Pur-Ratio)", "mean"), Users = ("user_id", "nunique" )))

Final_Conversion_Table

,Engagement_Level,Purchase_Intent_Level,Experiment Version,element_tested,avg_Converion,Users
0,High,High,A,TrustBadge,0.135922,2
1,High,High,A,UrgencyBanner,0.149123,6
2,High,High,B,PriceCharm,0.212389,3
3,High,High,B,TrustBadge,0.216495,3
4,High,High,B,UrgencyBanner,0.203092,8
5,High,Low,A,FreeShippingBadge,0.177145,32
6,High,Low,A,PriceCharm,0.166667,32
7,High,Low,A,TrustBadge,0.107586,32
8,High,Low,A,UrgencyBanner,0.172528,45
9,High,Low,B,FreeShippingBadge,0.179699,36
10,High,Low,B,PriceCharm,0.186583,42
11,High,Low,B,TrustBadge,0.223545,40
12,High,Low,B,UrgencyBanner,0.210566,35
13,High,Medium,A,PriceCharm,0.156966,3
14,High,Medium,A,TrustBadge,0.075472,1
15,High,Medium,A,UrgencyBanner,0.194915,2
16,High,Medium,B,FreeShippingBadge,0.181335,5
17,High,Medium,B,PriceCharm,0.152174,2
18,High,Medium,B,TrustBadge,0.235294,1
19,Low,Low,A,FreeShippingBadge,0.177679,56
20,Low,Low,A,PriceCharm,0.166715,55
21,Low,Low,A,TrustBadge,0.102674,59
22,Low,Low,A,UrgencyBanner,0.170493,60
23,Low,Low,B,FreeShippingBadge,0.193330,54
24,Low,Low,B,PriceCharm,0.182282,54
25,Low,Low,B,TrustBadge,0.227136,53
26,Low,Low,B,UrgencyBanner,0.212937,48
27,Medium,High,A,TrustBadge,0.135922,8
28,Medium,High,A,UrgencyBanner,0.149123,8
29,Medium,High,B,PriceCharm,0.212389,6
30,Medium,High,B,TrustBadge,0.216495,7
31,Medium,High,B,UrgencyBanner,0.222781,12
32,Medium,Low,A,FreeShippingBadge,0.176941,80
33,Medium,Low,A,PriceCharm,0.167242,91
34,Medium,Low,A,TrustBadge,0.104781,99
35,Medium,Low,A,UrgencyBanner,0.174767,99
36,Medium,Low,B,FreeShippingBadge,0.198654,85
37,Medium,Low,B,PriceCharm,0.186209,92
38,Medium,Low,B,TrustBadge,0.225647,76
39,Medium,Low,B,UrgencyBanner,0.216781,90
40,Medium,Medium,A,FreeShippingBadge,0.175671,6
41,Medium,Medium,A,PriceCharm,0.166373,9
42,Medium,Medium,A,TrustBadge,0.075472,4
43,Medium,Medium,A,UrgencyBanner,0.194915,6
44,Medium,Medium,B,FreeShippingBadge,0.185541,7
45,Medium,Medium,B,PriceCharm,0.152174,4
46,Medium,Medium,B,TrustBadge,0.235294,2

In [1654]:
agg_df

,experiment_id,element_tested,Experiment Version,user_id,customer_name,signup_date,country,city,state,postal_code,...,start_date,end_date,effect_on_conv,Click-through_Behaviour,Add_to_cart Rate,Conversion_Rate(Cmpltd_Pur-Ratio),Engagement_Level,PagesView_Level,ClickProd-Level,Purchase_Intent_Level
0,1,UrgencyBanner,A,51,Max Harris,2021-03-11,United States,Dallas,North Carolina,57356,...,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915,Low,Low,Low,Low
1,1,UrgencyBanner,A,79,Alex Lee,2019-11-19,United States,San Antonio,Georgia,69557,...,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915,Medium,Medium,Medium,Medium
2,1,UrgencyBanner,A,115,Max Johnson,2023-06-22,United States,Houston,Ohio,66247,...,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915,High,High,Low,Low
3,1,UrgencyBanner,A,133,Pat Robinson,2018-03-03,United States,Phoenix,California,68408,...,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915,Medium,Low,Medium,Low
4,1,UrgencyBanner,A,309,Jess Jackson,2021-02-09,United States,Dallas,New York,23285,...,2024-01-01,2024-01-15,0.059,0.347458,0.067797,0.194915,Medium,Low,Medium,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,8,TrustBadge,B,7529,Cameron Brown,2018-04-07,United States,Dallas,California,19565,...,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495,High,High,Low,Low
1559,8,TrustBadge,B,7643,Jess Thomas,2019-09-10,United States,Austin,Texas,24583,...,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495,Medium,Medium,Low,Low
1560,8,TrustBadge,B,7671,Alex Thomas,2020-03-08,United States,Austin,Georgia,44759,...,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495,High,High,Medium,Low
1561,8,TrustBadge,B,7706,Skyler White,2023-02-10,United States,San Diego,New York,84824,...,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495,Medium,Medium,Low,Low
1562,8,TrustBadge,B,7911,Avery Martinez,2018-01-17,United States,Chicago,Georgia,84761,...,2024-05-20,2024-06-03,0.080,0.340206,0.103093,0.216495,High,High,Low,Low

In [1655]:
from sqlalchemy import create_engine

# CONNECTING to our DB 

DB_USER = "postgres"
DB_PASS = "ThePasswordis19!"
DB_HOST = "localhost"
DB_PORT = 5432
DB_NAME = "E-Commerce_Project"
SCHEMA = "ecom"

# Lets create engine 

engine = create_engine(f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

In [1656]:
TABLE_NAME = "AggEtable_analysisLvL"
SCHEMA = "ecom"

agg_df.to_sql(
    name=TABLE_NAME,
    con=engine,
    schema=SCHEMA,
    if_exists="replace",   
    index=False,
    method="multi"
)

print("OKAY, DONE!")

OKAY, DONE!

In [ ]:
analy